include  ../more/more
.mainpluses
  .mainpluses__title Преимущества
  .mainpluses__flex
    .mainpluses__left
      figure.mainpluses__figure
        svg.mainpluses__svg(role="img")(width="50")(height="50"): use(xlink:href="#temp")
        figcaption.mainpluses__figcaption Диапазон рабочих температур от -30°С до +60°С
      figure.mainpluses__figure
        svg.mainpluses__svg(role="img")(width="50")(height="50"): use(xlink:href="#anticorr")
        figcaption.mainpluses__figcaption Антикорозийная обработка всех деталей перед покраской
      figure.mainpluses__figure
        svg.mainpluses__svg(role="img")(width="50")(height="50"): use(xlink:href="#fun")
        figcaption.mainpluses__figcaption Уникальная конструкция разделителя потока
      figure.mainpluses__figure
        svg.mainpluses__svg(role="img")(width="50")(height="50"): use(xlink:href="#punker")
        figcaption.mainpluses__figcaption Колеса Punker идеально сбалансированы
    .mainpluses__right
      figure.mainpluses__figure
        svg.mainpluses__svg(role="img")(width="50")(height="50"): use(xlink:href="#clock")
        figcaption.mainpluses__figcaption Увеличенный срок наработки на отказ — не менее 25000 часов
      figure.mainpluses__figure
        svg.mainpluses__svg(role="img")(width="50")(height="50"): use(xlink:href="#condey")
        figcaption.mainpluses__figcaption Долгий срок эксплуатации и высокая теплоотдача
      figure.mainpluses__figure
        svg.mainpluses__svg(role="img")(width="50")(height="50"): use(xlink:href="#stack")
        figcaption.mainpluses__figcaption Качественная заводская упаковка из пятислойного картона с вкладышами
      .mainpluses__more
        +more("Узнать больше", "about.html")
