.qualityblock
  .qualityblock__item
    svg.qualityblock__svg(role="img")(width="50")(height="50"): use(xlink:href="#repairing")
    .qualityblock__text 400 авторизованных сервисных центров по России и СНГ
  .qualityblock__item
    svg.qualityblock__svg(role="img")(width="50")(height="50"): use(xlink:href="#iso")
    .qualityblock__text Система менеджмента качества тепловой техники сертифицирована по ГОСТ ISO 9001-2015
