.newsdetail
  .content
    p Под данным брендом выпускается в том числе и продукция гражданского назначения. Тепловая техника KALASHNIKOV — экспортная линейка продукции Ижевского завода тепловой техники. Ижевский завод тепловой техники (ИЗТТ) был основан в 2007 году, но за этот период успел стать крупнейшим производителем тепловой техники в России.
    p Предприятие выпускает оборудование для большинства брендов, продаваемых в стране, а также для многих зарубежных заказчиков.
    p С 2017 года самую передовую линейку ИЗТТ выпускает под маркой KALASHNIKOV.
      br
      | С ответственностью перед памятью великого конструктора и имиджем России серия профессионального теплового оборудования KALASHNIKOV получила надежность, функциональность и безотказность, которые ассоциируются с легендарной маркой. Под данным брендом выпускается в том числе и продукция гражданского назначения. Тепловая техника KALASHNIKOV — экспортная линейка продукции Ижевского завода тепловой техники. Ижевский завод тепловой техники (ИЗТТ) был основан в 2007 году, но за этот период успел | стать крупнейшим производителем тепловой техники в России.
    p Предприятие выпускает оборудование для большинства брендов, продаваемых в стране, а также для многих зарубежных заказчиков.
  a(href="news.html").newsdetail__back
    .newsdetail__arrow
      svg.newsdetail__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
    span Вернуться к новостям
