mixin logo()
  -
    const layout = attributes.layout
    delete attributes.layout
  svg(class=`${layout}`+"__svg")(role="img")(width="240")(height="24"): use(xlink:href="#logo_kalashnikov")&attributes(attributes)
