.detail
  .detail__pick
    img.detail__img(src="/assets/detail_img.png")
  .detail__descript
    .container
      h3 Преимущества
      ol.detail__ol
        li.detail__li Рабочее колесо
          p Колеса Punker идеально сбалансированы. Силиконовая манжета нивелирует последствия даже минимальной несоосности,  что уменьшает шум.
        li.detail__li Капилярный термостат
          p Защита от перегрева по всей длине завесы. Ручной сброс — дополнительная степень защиты при ручном устранении возможных проблем.
        li.detail__li ТЭНы
          p ТЭНы (для электрических завес) из нержавеющей стали не подвержены коррозии и остаются эффективными даже в агрессивных средах. Увеличенный диаметр ТЭНа до 10,5 мм. Надежное крепление ТЭНов через силиконовые втулки исключает потери тепла.
        li.detail__li Теплообменник
          p Теплообменник (для водянных завес)  рассчитан на работу на перегретой воде с температурой до +150°С. Рабочее давление теплообменника — до 16 Атм, давление при гидравлических испытаниях  — до 30 Атм.
