$inactiveBtn:#F3930E;
$hoverBtn:#E57C04;
$activeBtn:#404040;
$inactiveTxt:#333333;
$hoverTxt:#F08D35;
$inactiveBg:#F6F7FA;
$muteTxt:#828282;
$uppArrow:#EAEEF6;
$inactiveSvg:#BDBDBD;
$hoverSvg:#FFFFFF;
