body{
  font: $link;
  color: $inactiveTxt;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
h1, .h1{
  font:$title;
  @media(min-width:$tablet){
    font: $bigh1;
  }
  @media(min-width:$notebook){
    font: $h1;
  }
}
h2, .h2{
  font: $h2;
}
h3, .h3{
  font: $h3;
  @media(min-width:$tablet){
    font: $slidertext;
  }
}
h4, .h4{
  font: $h4;
  @media(min-width:$tablet){
    font: $partnerstitle;
  }
}
h5, .h5{
  font: $h5;
}
a{
  color:$inactiveTxt;
  text-decoration: underline;
  transition: color .3s;
  &:hover, &:active, &:focus{
    color:$hoverTxt;
  }
}
.container{
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  @media(min-width:$tablet){
    padding: 30px;
  }
  @media(min-width:$notebook){
    width: 1170px;
    padding: 0;
    margin: 30px auto;
  }
  &-big{
    @media(min-width:$desctop){
      width: 1440px;
    }
  }
  &-footer{
    margin-bottom:0;
  }
}
.wrapper-flex{
  @media(min-width:$notebook){
    display:flex;
    margin: 0 -15px;
  }
}
.main__section{
  flex-grow:1;
  &.noscroll{
    display: none;
    @media(min-width:$tablet){
      display: block;
    }
  }
}
.right{
  margin: -45px 0 0 0;
  @media(min-width:$notebook){
    margin: -45px  15px 0 15px;
    width: 75%;
    width: calc(75% - 30px)
  }
}
.left{
  display: none;
  @media(min-width:$notebook){
    display: block;
    margin: 0 15px;
    width: 25%;
    width: calc(25% - 30px)
  }
}
