body{
  font: $link;
  color: $activeBtn;
  overflow-x: hidden;
}
h1, .h1{
  font: $h1;
}
h2, .h2{
  font: $h2;
}
h3, .h3{
  font: $h3;
}
h4, .h4{
  font: $h4;
}
h5, .h5{
  font: $h5;
}
a{
  color:$inactiveTxt;
  text-decoration: underline;
  transition: color .3s;
  &:hover, &:active, &:focus{
    color:$hoverTxt;
  }
}
.container{
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  @media(min-width:$tablet){
    padding: 30px;
  }
  @media(min-width:$notebook){
    max-width: 1170px;
    padding: 0;
    position: relative;
    margin: 30px auto;
  }
  @media(min-width:$bbc){
    width: 100%;
    padding: 0;
    position: relative;
    margin: 30px auto;
  }
}
