nav.breadcrumbs
  ul.breadcrumbs__ul
    li.breadcrumbs__li
      a(href="catalog.html").breadcrumbs__link Каталог
    li.breadcrumbs__li
      a(href="category.html").breadcrumbs__link Тепловые завесы
    li.breadcrumbs__li
      a(href="product.html").breadcrumbs__link Завесы KVC-D
    li.breadcrumbs__li
      span.breadcrumbs__current Тепловая завеса KVC-D10E9-31/32
