.up{
  padding: 15px 19px;;
  background: $uppArrow;
  display: inline-block;
  cursor:pointer;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  transition: background .3s;
  position:absolute;
  top:0;
  right:15px;
  z-index:100;
  @media(min-width:$tablet){
    top: auto;
    bottom: 220px;
    right: 30px;
  }
  @media(min-width: $notebook){
    bottom: auto;
    top:65px;
    right: 0px;
  }
  &.fixedUp{
    top:auto;
    bottom: 220px;
    position: fixed;
    right:0;
    opacity: 0.5
  }
  &__svg{
    fill: $inactiveSvg;
    color: $inactiveSvg;
    transition: fill .3s, color .3s;
  }
  &:hover{
    background:$activeBtn;
    .up__svg{
      fill: $hoverSvg;
      color: $hoverSvg;
      transition: fill .3s, color .3s;
    }
  }

}
