.mainpartners{
  background-image: url("/images/partners_bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 25px 0;
  @media(min-width:$tablet){
    padding: 40px 30px;
  }
  &__top{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font: $partnerstitle;
    color: $hoverSvg;
    @media(min-width:$tablet){
      font:$pluses;
    }
  }
  &__svg{
    @media(min-width:$tablet){
      width: 160px;
      height: 57px;
    }
    @media(min-width:$notebook){
      width: 180px;
      height: 64px;
    }
  }
  &__text{
    color: $hoverSvg;
    font: $pointer;
    margin: 40px 0;
    @media(min-width:$tablet){
      font:$partnerstitle;
      max-width: 70%;
      margin: 20px 0 40px 0;
    }
  }
  &__askbutton{
    width: 210px;
    position: relative;
    margin: 0 auto;
  }
}
