.mainpartners
  .container
    .mainpartners__top
      .mainpartners__title Партнерам
      .mainpartners__logo
        svg.mainpartners__svg(role="img")(width="108")(height="38"): use(xlink:href="#logo_iztt")
    .mainpartners__text Производственная компания «ИЗТТ» приглашает к сотрудничеству
    a(href="ask.html").mainpartners__button Задать вопрос
