.calculator{
  margin-top: 30px;
  @media(min-width: $tablet){
    margin-top: 40px;
  }
  &__menu{
    @media(min-width: $tablet){
      display: flex;
      flex-wrap: wrap;
      margin: 40px -5px;
    }
  }
  &__link{
    display: flex;
    box-sizing: border-box;
    height: 50px;
    align-items: center;
    margin: 10px 0;
    background: $uppArrow;
    padding: 15px 0 14px 15px;
    transition: background .3s;
    text-decoration: none;
    &-active, &:hover, &:active, &:focus{
      background: $activeBtn;
      color: $hoverSvg;
      .calculator__svg{
        color: $hoverSvg;
        fill: $hoverSvg;
      }
    }
    @media(min-width: $tablet){
      width: 50%;
      width: calc(50% - 10px);
      margin: 5px;
      padding: 15px 30px;
    }
    @media(min-width: $notebook){
      width: auto;
      margin: 5px;
      padding: 15px 20px 15px 10px;
    }
  }
  &__svg{
    transition: color .3s, fill .3s;
    margin-right: 15px;
    @media(min-width: $tablet){
      margin-right: 30px;
    }
    @media(min-width: $notebook){
      margin-right: 15px;
    }
  }
  &__text{
    font: $pointer;
  }
}
