.calculator
  .calculator__menu
    a(href="heatcurtains.html").calculator__link.calculator__link-active
      svg.calculator__svg(role="img")(width="28")(height="23"): use(xlink:href="#icon_teplozav")
      .calculator__text Подбор тепловых завес
    a(href="#").calculator__link
      svg.calculator__svg(role="img")(width="37")(height="25"): use(xlink:href="#gun")
      .calculator__text Подбор теплопушки
    a(href="#").calculator__link
      svg.calculator__svg(role="img")(width="30")(height="29"): use(xlink:href="#condey_currentcolor")
      .calculator__text Подбор ИК обогревателя
    a(href="#").calculator__link
      svg.calculator__svg(role="img")(width="30")(height="30"): use(xlink:href="#fun_currentcolor")
      .calculator__text Подбор тепловентилятора
