.spoilarrow{
  cursor:pointer;
  font-size: 0;
  overflow: unset;
  &__text{
    color:$inactiveBtn;
    font:$pointer;
    display: inline-block;
    margin-right: 22px;
  }
  &__pick{
    display: inline-block;
    position:relative;
    transform: rotate(-270deg);
    z-index: 100;
    &.spoildown{
      transform: rotate(270deg);
    }
    &:before{
      content: '';
      position: absolute;
      height: 2px;
      width: 20px;
      background: $inactiveBtn;
      left: -14px;
      bottom:0;
      transition: transform .3s;
    }
  }
  &__svg{
    color:$inactiveBtn;
    fill: $inactiveBtn;
    position:absolute;
    left: -4px;
    top:-6px;
    z-index: 100;
    transition: transform .3s;
  }
  &:hover{
    .spoilarrow__svg{
      transform: translateX(7px);
    }
    .spoilarrow__pick{
      &:before{
        transform: scaleX(1.5) translateX(3px);
      }
    }
  }
}
