.spoilarrow{
  cursor:pointer;
  font-size: 0;
  &__text{
    color:$inactiveBtn;
    font:$pointer;
    display: inline-block;
    margin-right: 22px;
  }
  &__svg{
    color:$inactiveBtn;
    fill: $inactiveBtn;
    display: inline-block;
    transform: rotate(-90deg);
    transition: transform .3s;
  }
  &:hover{
    .spoilarrow__svg{
      transform: rotate(-90deg) scaleX(1.5) translateX(-3px);
    }
  }
  &.spoildown{
    .spoilarrow__svg{
      transform: rotate(90deg);
      transition: transform .3s;
    }
      &:hover{
        .spoilarrow__svg{
          transform: rotate(90deg) scaleX(1.5) translateX(3px);
        }
    }
  }
}
