.price{
  padding: 20px 20px 15px 20px;
  background: $inactiveBg;
  max-width: 290px;
  margin: 20px auto;
  &__num{
    display: inline-block;
    font: $pluses;
    margin-right: 10px;
  }
  &__svg{
    display: inline-block;
  }
  &__descript{
    font: $littleTxt;
    color:$muteTxt;
  }
}
