.calculatorxls
  .calculatorxls__descript
    .calculatorxls__icon
      svg.calculatorxls__svg(role="img")(width="70")(height="67"): use(xlink:href="#excel")
    .calculatorxls__text Калькулятор подбора теплопушки в формате Excel доступен для скачивания
  a(href="#").calculatorxls__button Скачать программу
