.carousel
  .container
    .carousel__title Каталог продукции
  .carousel__wrap
    .carousel__items.owl-carousel
      a(href="category.html").carousel__item
        .carousel__img
          img.carousel__pick(src="assets/tepl_condey.png")(alt="Тепловые завесы")
        .carousel__link
          span Тепловые завесы
          svg.carousel__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
      a(href="category.html").carousel__item
        .carousel__img
          img.carousel__pick(src="assets/kvf-w-main.png")(alt="Инфракрасные обогреватели")
        .carousel__link
          span Инфракрасные обогреватели
          svg.carousel__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
      a(href="category.html").carousel__item
        .carousel__img
          img.carousel__pick(src="assets/inf.png")(alt="Тепловые пушки")
        .carousel__link
          span Тепловые пушки
          svg.carousel__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
      a(href="category.html").carousel__item
        .carousel__img
          img.carousel__pick(src="assets/teplopushka.png")(alt="Конвекторы")
        .carousel__link
          span Конвекторы
          svg.carousel__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
      a(href="category.html").carousel__item
        .carousel__img
          img.carousel__pick(src="assets/convectr.png")(alt="Акссессуары")
        .carousel__link
          span Акссессуары
          svg.carousel__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
