.carousel
  .container
    .carousel__title Каталог продукции
  .carousel__wrap
    .carousel__items.owl-carousel
      .carousel__item
        .carousel__img
          img.carousel__pick(src="assets/tepl_condey.png")(alt="Тепловые завесы")
        a.carousel__link(href="#")
          span Тепловые завесы
          svg.carousel__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
      .carousel__item
        .carousel__img
          img.carousel__pick(src="assets/kvf-w-main.png")(alt="Инфракрасные обогреватели")
        a.carousel__link(href="#")
          span Инфракрасные обогреватели
          svg.carousel__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
      .carousel__item
        .carousel__img
          img.carousel__pick(src="assets/inf.png")(alt="Тепловые пушки")
        a.carousel__link(href="#")
          span Тепловые пушки
          svg.carousel__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
      .carousel__item
        .carousel__img
          img.carousel__pick(src="assets/teplopushka.png")(alt="Конвекторы")
        a.carousel__link(href="#")
          span Конвекторы
          svg.carousel__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
      .carousel__item
        .carousel__img
          img.carousel__pick(src="assets/convectr.png")(alt="Акссессуары")
        a.carousel__link(href="#")
          span Акссессуары
          svg.carousel__svg(role="img")(width="40")(height="10"): use(xlink:href="#arrow")
