.carousel
  .container
    .carousel__title Каталог продукции
  .carousel__items
    .carousel__item
      .carousel__img
      .carousel__link Тепловые завесы
        .carousel__arrow
    .carousel__item
      .carousel__img
      .carousel__link Тепловые завесы
        .carousel__arrow
    .carousel__item
      .carousel__img
      .carousel__link Тепловые завесы
        .carousel__arrow
    .carousel__item
      .carousel__img
      .carousel__link Тепловые завесы
        .carousel__arrow
