.partners
  .container
    .partners__top
      svg.partners__logo(role="img")(width="160")(height="57"): use(xlink:href="#logo_iztt_color")
      h2.partners__h2 Производственная компания «ИЗТТ» приглашает к сотрудничеству
    .partners__descript
      p Проект теплового оборудования ижевского завода-производителя, получивший имя легендарного конструктора ХХ века М.Т. КАЛАШНИКОВА, открыт к рассмотрению заявок на Дилерство и Дистрибьюторство. Если Вы – сильная, динамичная и компания, претендующая на лидерство, приглашаем Вас стать нашим партнером.
      include ../askbutton/askbutton
  +imgblock('"assets/bg1.png"')
  .container
    h3 Преимущества
    include ../pluses/pluses
  include ../form/form
