 .result{
   margin-top: 30px;
   border-bottom: 1px solid $download;
   padding-bottom: 40px;
   @media(min-width: $notebook){
    margin-top: 80px;
   }
   &__items{
     @media(min-width: $notebook){
      display: flex;
      margin: 0 -15px;
      flex-wrap: wrap;
      align-items: flex-start;
     }
   }
    &__top{
      @media(min-width: $tablet){
        display: flex;
        justify-content: space-between;
        background: $inactiveBg;
      }
    }
    &__item{
      border: 1px solid $download;
      margin: 9px 0 30px 0;
      box-sizing: border-box;
      @media(min-width: $tablet){
        margin: 30px 0;
      }
      @media(min-width: $notebook){
         width: 50%;
         width: calc(50% - 30px);
         margin: 30px 15px;
      }
    }
    &__descript{
      font: $pointer;
      color: $muteTxt;
      @media(min-width: $notebook){
        font: $link;
      }
    }
    &__pick{
      background: $inactiveBg;
      height: 252px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 25px;
      @media(min-width: $tablet){
        order: 2;
        height: 105px;
        padding: 28px 5px;
        }
      }
      &__img{
        @media(min-width: $tablet){
        max-height: 100%;
      }
    }
  &__title{
    padding: 20px 18px 27px 18px;
  }
  &__name{
    font: $pointer;
  }
  &__cat{
    display: block;
    font: $partnerstitle;
  }
  &__characteristics{
    padding: 0 4px;
    @media(min-width: $tablet){
      padding: 0 20px;
    }
  }
  &__characteristic{
    padding: 17px;
    border-bottom: 1px solid $download;
    display: flex;
    justify-content: space-between;
    background: $hoverSvg;
    &:first-of-type{
      border-top: 1px solid $download;
      @media(min-width: $tablet){
        border-top: 0;
      }
    }
    @media(min-width: $tablet){
      padding: 17px 0;
      margin: 0 -5px;
    }
    @media(min-width: $notebook){
     padding: 20px 0;
     padding-top: 17px;
    }
    &-spoil{
      border-bottom: 0;
      @media(min-width: $tablet){
        padding: 17px;
        margin: 0;
        position: relative;
      }
      .spoilarrow{
        position: static;
      }
    }
    &.result__spoiler{
      background: transparent;
    }
  }
  &__characterleft{
    font: $tabletd;
    margin-right: 15px;
  }
  &__characterright{
    text-align: right;
  }
  &__spoiler{
    position: absolute;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform .3s, opacity .3s;
    z-index: -1;
    width: auto;
  }
  &__spoiler-open{
    position: relative;
    visibility: visible;
    height:auto;
    transform: translateY(0);
    z-index: 0;

  }
  &__charactertitle{
    @media(min-width: $tablet){
      font: $pointer;
    }
  }
  .spoilarrow{
    .spoilarrow__pick{
      @media(min-width: $tablet){
        position: absolute;
        right: 20px;
        bottom: 24px;
      }
    }
    .spoilarrow__text{
      font: $link;
    }
  }
 }
