.result
  h2(data-text="Итоги подбора") Итоги
  .result__descript Максимальная совместимость
    span.result__amount (4&nbsp;позиции)
  .result__items
    .result__item
      .result__top
        .result__pick
          img.result__img(src="assets/tepl_condey.png")(alt="Тепловые завесы")
        .result__title
          .result__name Тепловая завеса
          a(href="detail.html").result__cat KVC-D10E9-31/32
      .result__characteristics
        .result__characteristic
          .result__charactertitle Расчет эффективности
        .result__characteristic
          .result__characterleft Эффективность защиты проема
          .result__characterright 87%
        .result__characteristic
          .result__characterleft Потери тепла через незащищенный проем
          .result__characterright 210 кВт
      .result__spoiler
        .result__characteristic
          .result__characterleft Параметры питающей сети
          .result__characterright 440/50 В/Гц
        .result__characteristic
          .result__characterleft Номинальная мощность нагрева
          .result__characterright 18 кВт
        .result__characteristic
          .result__characterleft Потребляемая мощность
          .result__characterright 18,5 кВт
        .result__characteristic
          .result__characterleft Максимальный рабочий ток
          .result__characterright 28,5 А
        .result__characteristic
          .result__characterleft Расход воздуха
          .result__characterright 3500 м³/ч
        .result__characteristic
          .result__characterleft Уровень шума на расстоянии 5м
          .result__characterright 63 дБ(А)
        .result__characteristic
          .result__characterleft Размеры
          .result__characterright 1520х304х341 мм
        .result__characteristic
          .result__characterleft Масса
          .result__characterright 30 кг
      .result__characteristic.result__characteristic-spoil
        +spoiler("Показать основные характеристики")
    .result__item
      .result__top
        .result__pick
          img.result__img(src="assets/tepl_condey.png")(alt="Тепловые завесы")
        .result__title
          .result__name Тепловая завеса
          a(href="detail.html").result__cat KVC-D10E9-31/32
      .result__characteristics
        .result__characteristic
          .result__charactertitle Расчет эффективности
        .result__characteristic
          .result__characterleft Эффективность защиты проема
          .result__characterright 87%
        .result__characteristic
          .result__characterleft Потери тепла через незащищенный проем
          .result__characterright 210 кВт
      .result__spoiler
        .result__characteristic
          .result__characterleft Параметры питающей сети
          .result__characterright 440/50 В/Гц
        .result__characteristic
          .result__characterleft Номинальная мощность нагрева
          .result__characterright 18 кВт
        .result__characteristic
          .result__characterleft Потребляемая мощность
          .result__characterright 18,5 кВт
        .result__characteristic
          .result__characterleft Максимальный рабочий ток
          .result__characterright 28,5 А
        .result__characteristic
          .result__characterleft Расход воздуха
          .result__characterright 3500 м³/ч
        .result__characteristic
          .result__characterleft Уровень шума на расстоянии 5м
          .result__characterright 63 дБ(А)
        .result__characteristic
          .result__characterleft Размеры
          .result__characterright 1520х304х341 мм
        .result__characteristic
          .result__characterleft Масса
          .result__characterright 30 кг
      .result__characteristic.result__characteristic-spoil
        +spoiler("Показать основные характеристики")
    .result__item
      .result__top
        .result__pick
          img.result__img(src="assets/tepl_condey.png")(alt="Тепловые завесы")
        .result__title
          .result__name Тепловая завеса
          a(href="detail.html").result__cat KVC-D10E9-31/32
      .result__characteristics
        .result__characteristic
          .result__charactertitle Расчет эффективности
        .result__characteristic
          .result__characterleft Эффективность защиты проема
          .result__characterright 87%
        .result__characteristic
          .result__characterleft Потери тепла через незащищенный проем
          .result__characterright 210 кВт
      .result__spoiler
        .result__characteristic
          .result__characterleft Параметры питающей сети
          .result__characterright 440/50 В/Гц
        .result__characteristic
          .result__characterleft Номинальная мощность нагрева
          .result__characterright 18 кВт
        .result__characteristic
          .result__characterleft Потребляемая мощность
          .result__characterright 18,5 кВт
        .result__characteristic
          .result__characterleft Максимальный рабочий ток
          .result__characterright 28,5 А
        .result__characteristic
          .result__characterleft Расход воздуха
          .result__characterright 3500 м³/ч
        .result__characteristic
          .result__characterleft Уровень шума на расстоянии 5м
          .result__characterright 63 дБ(А)
        .result__characteristic
          .result__characterleft Размеры
          .result__characterright 1520х304х341 мм
        .result__characteristic
          .result__characterleft Масса
          .result__characterright 30 кг
      .result__characteristic.result__characteristic-spoil
        +spoiler("Показать основные характеристики")
    .result__item
      .result__top
        .result__pick
          img.result__img(src="assets/tepl_condey.png")(alt="Тепловые завесы")
        .result__title
          .result__name Тепловая завеса
          a(href="detail.html").result__cat KVC-D10E9-31/32
      .result__characteristics
        .result__characteristic
          .result__charactertitle Расчет эффективности
        .result__characteristic
          .result__characterleft Эффективность защиты проема
          .result__characterright 87%
        .result__characteristic
          .result__characterleft Потери тепла через незащищенный проем
          .result__characterright 210 кВт
      .result__spoiler
        .result__characteristic
          .result__characterleft Параметры питающей сети
            .result__characterright 440/50 В/Гц
        .result__characteristic
          .result__characterleft Номинальная мощность нагрева
          .result__characterright 18 кВт
        .result__characteristic
          .result__characterleft Потребляемая мощность
          .result__characterright 18,5 кВт
        .result__characteristic
          .result__characterleft Максимальный рабочий ток
          .result__characterright 28,5 А
        .result__characteristic
          .result__characterleft Расход воздуха
          .result__characterright 3500 м³/ч
        .result__characteristic
          .result__characterleft Уровень шума на расстоянии 5м
          .result__characterright 63 дБ(А)
        .result__characteristic
          .result__characterleft Размеры
          .result__characterright 1520х304х341 мм
        .result__characteristic
          .result__characterleft Масса
          .result__characterright 30 кг
      .result__characteristic.result__characteristic-spoil
        +spoiler("Показать основные характеристики")
