.contactsservice
  .container
    .contactsservice__tel
      svg.contactsservice__svg(role="img")(width="25")(height="25"): use(xlink:href="#cellphone")
      .contactsservice__num +7 495 280 74 10
    .contactsservice__text Линия по вопросам сервисного обслуживания
    a(href="service.html").contactsservice__link Сервисные центры
