.ask{
  background: $inactiveBg;
  padding: 30px;
  &__fieldset{
    border: none;
    outline: none;
    margin:  0;
    padding:0;
    &:hover, &:focus{
      border: none;
      outline: none;
    }
    &-comment{
      margin-top:20px;
      position: relative;
    }
  }
  &__label{
    position:relative;
    &-confirm{
      margin-top:20px;
    }
  }
  &__svg{
    position:absolute;
    left:17px;
    top: 3px;
    fill:$formsvg;
    color:$formsvg;
  }
  &__input, &__textarea{
    border: none;
    outline: none;
    background: $hoverSvg;
    padding: 15px 50px;
    margin: 10px auto;
    color: $muteTxt;
    width:100%;
    box-sizing: border-box;
    opacity:1;
    &:hover, &:focus{
      border: none;
      outline: none;
    }
    &::-moz-placeholder{
      color: $muteTxt;
      opacity:1;
    }
    &:-moz-placeholder{
      color: $muteTxt;
      opacity:1;
    }
    &:-webkit-input-placeholder{
      color: $muteTxt;
      opacity:1;
    }
    &::-webkit-input-placeholder{
      color: $muteTxt;
      opacity:1;
    }
  }
  &__input{
    &-confirm{
      position: absolute;
      visibility: hidden;
      &+label{
        font: $littleTxt;
        display: flex;
        position: relative;
        &:before{
          content: '';
          display: block;
          width:20px;
          height:20px;
          border:$inactiveBtn 2px solid;
          margin-right: 10px;
          text-align: left;
          flex-grow:1;
          flex-shrink:0;
        }
        &:hover, &:focus{
          &:after{
            content: "";
            display: block;
            width: 18px;
            height: 8px;
            border: $inactiveBtn 2px solid;
            border-left-color:transparent;
            border-bottom-color:transparent;
            transform: rotate(130deg);
            position:absolute;
            left:2px;
            top:2px;
            opacity:0.5;
            transition: opacity .3s;
          }
        }
      }
      &:checked{
        &+label{
          &:after{
            content: "";
            display: block;
            width: 18px;
            height: 8px;
            border: $inactiveBtn 2px solid;
            border-left-color:transparent;
            border-bottom-color:transparent;
            transform: rotate(130deg);
            position:absolute;
            left:2px;
            top:2px;
            opacity:1;
          }
        }
      }
    }
  }
  &__textarea{
    padding-left: 17px;
    margin-top:20px;
    height: 161px;
  }
  &__button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: $hoverSvg;
    font: $pointer;
    text-align: center;
    padding: 11px 30px;
    background: #F3930E;
    box-sizing: border-box;
    border:0;
    outline: none;
    &-disabled{
      background:$formsvg;
    }
  }
}
