.cities
  label.cities__label(for="cities") Город
  span.cities__wrap    
    svg.cities__svg(role="img")(width="14")(height="20"): use(xlink:href="#cities_label")
    input.cities__input(id="cities", type="text", value="Петропавловск-Камчатский")
