.newsslider
  .slider__items.owl-carousel
    .newsslider__item
      .newsslider__bg(style="background-image: url(assets/newsbg.png)")
    .newsslider__item
      .newsslider__bg(style="background-image: url(assets/banner1.jpg)")
    .newsslider__item
      .newsslider__bg(style="background-image: url(assets/banner2.png)")
    .newsslider__item
      .newsslider__bg(style="background-image: url(assets/banner3.png)")
  .slider__nav
    .count
      .count__amount.count__amount-current 01
      .count__amount.count__amount-total 04
    .flipping
