.mainnews
  .container
    h3.mainnews__title Новости
    .mainnews__items
      .mainnews__item
        a.mainnews__img(href="detailnews.html")
          img(src="assets/news.jpg")
        .mainnews__content
          a.mainnews__link(href="detailnews.html")
            h4.mainnews__h4 KALASHNIKOV — самый известный российский бренд в мире
          .mainnews__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
      .mainnews__item
        a(href="detailnews.html").mainnews__img
          img(src="assets/news.jpg")
        .mainnews__content
          a.mainnews__link(href="detailnews.html")
            h4.mainnews__h4 KALASHNIKOV — самый известный российский бренд в мире
          .mainnews__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
      .mainnews__item
        a(href="detailnews.html").mainnews__img
          img(src="assets/news.jpg")
        .mainnews__content
          a.mainnews__link(href="detailnews.html")
            h4.mainnews__h4 KALASHNIKOV — самый известный российский бренд в мире
          .mainnews__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
