.servicecontent{
  p{
    font: $pointer;
  }
  .download__link{
    font: $pointer;
    color: $inactiveTxt;
    text-decoration: underline;
  }
  .download__svg{
    color: $inactiveTxt;
    fill: $inactiveTxt;
  }
  .download__text{
    font: $pointer;
  }
  @media(min-width:$tablet){
    max-width: 80%;
    p{
      margin: 30px 0;
    }
  }
}
