.servicecontent.content
  p
    |ИЗТТ располагает сетью более чем 400 авторизованных сервисных центров по России и СНГ.
    |Найди и посетите ближайший сервисный центр. Возьмите с собой заполненное заявления и экономьте время на посещении сервисного центра.
  +download("Заявка в сервисный центр.pdf")
