.social
  a.social__link.social__link-fb(href="//fb.com", target="_blank")
    svg.social__svg(role="img")(width="10")(height="20"): use(xlink:href="#fb")
  a.social__link.social__link-vk(href="//vk.com", target="_blank")
    svg.social__svg(role="img")(width="20")(height="10"): use(xlink:href="#vk")
  a.social__link.social__link-inst(href="//ok.ru", target="_blank")
    svg.social__svg(role="img")(width="16")(height="16"): use(xlink:href="#inst")
