+imgblock('"assets/bg1.png"')
.container
  .content.about__content
    h3 Бренд KALASHNIKOV
    p Под данным брендом выпускается в том числе и продукция гражданского назначения. Тепловая техника KALASHNIKOV — экспортная линейка продукции Ижевского завода тепловой техники.
    p Ижевский завод тепловой техники (ИЗТТ) был основан в 2007 году, но за этот период успел стать крупнейшим производителем тепловой техники в России. Предприятие выпускает оборудование для большинства брендов, продаваемых в стране, а также для многих зарубежных заказчиков.
      br
      | С 2017 года самую передовую линейку ИЗТТ выпускает под маркой KALASHNIKOV.
    p С ответственностью перед памятью великого конструктора и имиджем России серия профессионального теплового оборудования KALASHNIKOV получила надежность, функциональность и безотказность, которые ассоциируются с легендарной маркой.
    p Тепловая техника KALASHNIKOV создается из самых надежных материалов и узлов, выдерживающих максимальное количество операций включения/выключения. Проверка отработки ресурса ведется при повышенных нагрузках. Это позволяет продукции KALASHNIKOV справляться со своими задачами даже в самых экстремальных условиях эксплуатации.
+imgblock('"assets/bg2.png"')
.container
  .content.pluses
    h3 Преимущества
      include ../pluses/pluses
.about__img(style="background-image: url('assets/banner3.png')")
.container
  .about__icons
    .about__column
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#temp")
        .about__text Диапазон рабочих температур от&nbsp;-30°С&nbsp;до&nbsp;+60°С
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#anticorr")
        .about__text Антикорозийная обработка всех деталей перед покраской
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#fun")
        .about__text Уникальная конструкция разделителя потока
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#punker")
        .about__text Колеса Punker идеально сбалансированы
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#starter")
        .about__text Пускатели Shneider Electric
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#node")
        .about__text Новая конструкция вентиляционного&nbsp;узла
    .about__column
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#clock")
        .about__text Увеличенный срок наработки на отказ — не&nbsp;менее&nbsp;25000&nbsp;часов
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#condey")
        .about__text Долгий срок эксплуатации и высокая теплоотдача
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#stack")
        .about__text Качественная заводская упаковка из пятислойного картона с вкладышами
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#waranty")
        .about__text Гарантия 3 года
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#termostat")
        .about__text Защитный капиллярный термостат
      .about__icon
        svg.about__svg(role="img")(width="50")(height="50"): use(xlink:href="#elementy")
        .about__text Усиленные соединительные элементы
