.hamburger{
  float: right;
  &__span{
    width: 30px;
    height: 4px;
    background: $activeBtn;
    display: block;
    position: relative;
    &:after, &:before{
      content: "";
      width: 30px;
      height: 4px;
      background: $activeBtn;
      display: block;
      position: absolute;
    }
    &:after{
      top: 7px;
    }
    &:before{
      top: -7px;
    }
  }
}
