.hamburger{
  cursor: pointer;
  height: 26px;
  position: relative;
  &__span{
    width: 30px;
    height: 4px;
    background: $activeBtn;
    display: block;
    position: absolute;
    transition: width .3s;
    right: 0;
    top: 11px;
    &:after, &:before{
      content: "";
      width: 30px;
      height: 4px;
      background: $activeBtn;
      display: block;
      position: absolute;
      transition: width .3s;
    }
    &:after{
      top: 8px;
    }
    &:before{
      top: -8px;
    }
  }
  &.openhamburger{
    .hamburger__span{
      width: 26px;
      &:after{
        width: 22px;
      }
    }
  }
}
