include ../../modules/download/download
footer.footer
  .footer__mobilemenu
    .container
      include ../../modules/mobilemenu/mobilemenu
      .footer__download
        +download("Скачать прайс")
        +download("Скачать каталог")
