.leftmenu{
  &__title{
    font:$pointer;
  }
  &__cats{
    padding: 0;
    margin-top:33px;
    overflow: hidden;
    @media(min-width:$notebook){
      margin-top: 29px;
    }
  }
  &__span{
    padding: 10px 15px;
    &:hover{
      background: $menubg;
      .leftmenu__link{
        color: $inactiveTxt;
      }
    }
  }
  &__cat{
    list-style: none;
    margin: 20px 0;
    &.leftmenu__opencat{
      .leftmenu__insidecats{
        margin-top: 20px;
        margin-bottom: 40px;
        transform: translateX(0);
        position:static;
        visibility: visible;
      }
      .leftmenu__span{
        background: $menubg;
      }
      .leftmenu__svg{
        transform: scale(-1);
      }
    }
    &.leftmenu__closecat{
        .leftmenu__insidecats{
        transform: translateX(-300px);
      }
    }
  }
  &__link{
    text-decoration: none;
  }
  &__svg{
    margin-left: 10px;
    transition: transform .3s;
    cursor: pointer;
  }
  &__insidecats{
    padding: 0;
    transition: transform .3s;
    transform: translateX(-300px);
    position:absolute;
    visibility: hidden;
  }
  &__insidecat{
    list-style: none;
    margin: 20px 40px 0 50px;
  }
}
