.leftmenu
  .leftmenu__title   Категории
  ul.leftmenu__cats
    li.leftmenu__cat
      span.leftmenu__span
        a.leftmenu__link(href="category.html") Тепловые завесы
        svg.leftmenu__svg(role="img")(width="10")(height="6"): use(xlink:href="#menuarrow")
      ul.leftmenu__insidcats
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-A
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-B
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-C
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-D
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-S
    li.leftmenu__cat
      span.leftmenu__span
        a.leftmenu__link(href="category.html") Водяные тепловентиляторы
        svg.leftmenu__svg(role="img")(width="10")(height="6"): use(xlink:href="#menuarrow")
      ul.leftmenu__insidcats
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-A
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-B
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-C
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-D
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-S
    li.leftmenu__cat
      span.leftmenu__span
        a.leftmenu__link(href="category.html") ИК обогреватели
    li.leftmenu__cat
      span.leftmenu__span
        a.leftmenu__link(href="category.html") Тепловые пушки
        svg.leftmenu__svg(role="img")(width="10")(height="6"): use(xlink:href="#menuarrow")
      ul.leftmenu__insidcats
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-A
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-B
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-C
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-D
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-S
    li.leftmenu__cat
      span.leftmenu__span
        a.leftmenu__link(href="category.html") Конвекторы
        svg.leftmenu__svg(role="img")(width="10")(height="6"): use(xlink:href="#menuarrow")
      ul.leftmenu__insidcats
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-A
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-B
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-C
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-D
        li.leftmenu__insidcat
          a.leftmenu__insidlink(href="#") Завесы KVC-S
    li.leftmenu__cat
      span.leftmenu__span
        a.leftmenu__link(href="category.html") Аксессуары
