.footermenu
  ul.footermenu__ul
    li.footermenu__li
      a(href="#").footermenu__link Тепловые завесы
    li.footermenu__li
      a(href="#").footermenu__link Водяные тепловентиляторы
    li.footermenu__li
      a(href="#").footermenu__link ИК обогреватели
    li.footermenu__li
      a(href="#").footermenu__link Тепловые пушки
    li.footermenu__li
      a(href="#").footermenu__link Конвекторы
    li.footermenu__li
      a(href="#").footermenu__link Аксессуары
  ul.footermenu__ul
    li.footermenu__li
      a(href="#").footermenu__link Где купить
    li.footermenu__li
      a(href="#").footermenu__link Новости
    li.footermenu__li
      a(href="#").footermenu__link Подобрать технику
    li.footermenu__li
      a(href="#").footermenu__link Сервис-центры
    li.footermenu__li
      a(href="#").footermenu__link Контакты
  ul.footermenu__ul
    li.footermenu__li
      a(href="#").footermenu__link О компании
    li.footermenu__li
      a(href="#").footermenu__link Партнерам
