.footermenu
  ul.footermenu__ul
    li.footermenu__li
      a(href="product.html").footermenu__link Тепловые завесы
    li.footermenu__li
      a(href="product.html").footermenu__link Водяные тепловентиляторы
    li.footermenu__li
      a(href="product.html").footermenu__link ИК обогреватели
    li.footermenu__li
      a(href="product.html").footermenu__link Тепловые пушки
    li.footermenu__li
      a(href="product.html").footermenu__link Конвекторы
    li.footermenu__li
      a(href="product.html").footermenu__link Аксессуары
  ul.footermenu__ul
    li.footermenu__li
      a(href="wherebuy.html").footermenu__link Где купить
    li.footermenu__li
      a(href="news.html").footermenu__link Новости
    li.footermenu__li
      a(href="calculator.html").footermenu__link Подобрать технику
    li.footermenu__li
      a(href="service.html").footermenu__link Сервис-центры
    li.footermenu__li
      a(href="contacts.html").footermenu__link Контакты
  ul.footermenu__ul
    li.footermenu__li
      a(href="about.html").footermenu__link О компании
    li.footermenu__li
      a(href="partners.html").footermenu__link Партнерам
