.colors{
  &__item{
    display: inline-block;
    vertical-align: middle;
  }
  &__img{
    border: 2px solid $download;
    margin-right: 20px;
  }
  &__text{
    display:inline-block;
    margin-right: 30px;
    vertical-align: middle;
  }
}
