.colors
  .colors__text Цвета
  .colors__item
    img.colors__img(src="/assets/white.png")
  .colors__item
    img.colors__img(src="/assets/grey.png")
  .colors__item
    img.colors__img(src="/assets/orange.png")
