mixin menu()
  nav.menu
    ul.menu__ul
      li.menu__li: a.menu__link(href="catalog.html") Каталог
      li.menu__li: a.menu__link(href="filter.html") Подобрать технику
      li.menu__li: a.menu__link(href="about.html") О компании
      li.menu__li: a.menu__link(href="wherebuy.html") Где купить
      li.menu__li: a.menu__link(href="news.html") Новости
      li.menu__li: a.menu__link(href="partners.html") Пертнерам
      li.menu__li: a.menu__link(href="service.html") Сервис-центры
      li.menu__li: a.menu__link(href="contacts.html") Контакты
