.tab
  .tab__buttons
    .tab__button.tab__button-active Особенности
    .tab__button Характеристики
    .tab__button Инструкция и сертификаты
  .tab__content
    .tab__info.tab__info-active
      .tab__text
        p Интерьерные тепловые завесы KALASHNIKOV — лучшее решение для помещений с повышенными требованиями к дизайну и внешнему виду оборудования.
        p Стильные, эффективные, интеллектуальные завесы, сделанные из высококачественных дорогих материалов, подойдут для любого современного интерьера: банки и административные здания, офисные и бизнес-центры, отели и рестораны. Исполнение в корпусе из нержавеющей стали.
      .tab__features
        include ../features/features
    .tab__info
      .tab__text
        h4 Сравнительная таблица характеристик тепловых завес KVC-D
      include ../table/table
    .tab__info
      .tab__certificate.certificate
        a.certificate__figure(href="/assets/sert.png" download)
          img.certificate__img(src="/assets/sert.png")
          .certificate__figcaption
            .certificate__link Руководство по эксплуатации - KVC-DV.pdf
        a.certificate__figure(href="/assets/sert.png" download)
          img.certificate__img(src="/assets/sert.png")
          .certificate__figcaption
            .certificate__link  Руководство по эксплуатации - KVC-DE.pdf
        a.certificate__figure(href="/assets/sert.png" download)
          img.certificate__img(src="/assets/sert_1.png")
          .certificate__figcaption
            .certificate__link Сертификат на завесы электрические.pdf
            p.certificate__descript Действующий с 04.08.17
