.tab
  .tab__buttons
    .tab__button.tab__button-active Особенности
    .tab__button Характеристики
    .tab__button Инструкция и сертификаты
  .tab__content
    .tab__info.tab__info-active
      .tab__text
        p Интерьерные тепловые завесы KALASHNIKOV — лучшее решение для помещений с повышенными требованиями к дизайну и внешнему виду оборудования.
        p Стильные, эффективные, интеллектуальные завесы, сделанные из высококачественных дорогих материалов, подойдут для любого современного интерьера: банки и административные здания, офисные и бизнес-центры, отели и рестораны. Исполнение в корпусе из нержавеющей стали.
      .tab__features
        include ../features/features
    .tab__info
      .tab__text
        h4 Сравнительная таблица характеристик тепловых завес KVC-D
      .tab__table
        table.table
          thead.table__thead
            tr.table__row
              th.table__cell
              th.table__cell KVC-D10E9-31/32
              th.table__cell
                a(href="detail.html") KVC-D10E9-31/32
              th.table__cell
                a(href="detail.html") KVC-D10E9-31/32
              th.table__cell
                a(href="detail.html") KVC-D10E9-31/32
              th.table__cell
                a(href="detail.html") KVC-D10E9-31/32
              th.table__cell
                a(href="detail.html") KVC-D10E9-31/32
              th.table__cell
                a(href="detail.html") VC-D10E9-31/32
              th.table__cell
                a(href="detail.html") KVC-D10E9-31/32
              th.table__cell
                a(href="detail.html") KVC-D10E9-31/32
          tbody.table__tbody
            tr.table__row
              td.table__cell Длина завесы, мм
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell  Режимы мощности, кВт
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Потребляемая мощность двигателей, Вт
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Ток двигателя при номинальном напряжении, А
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Длина завесы, мм
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Режимы мощности, кВт
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Потребляемая мощность двигателей, Вт
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Ток двигателя при номинальном напряжении, А
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Длина завесы, мм
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Длина завесы, мм
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Длина завесы, мм
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Длина завесы, мм
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Длина завесы, мм
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
            tr.table__row
              td.table__cell Длина завесы, мм
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
              td.table__cell 171
    .tab__info
      .tab__certificate.certificate
        figure.certificate__figure
          img.certificate__img(src="/assets/sert.png")
          figcaption.certificate__figcaption
            a.certificate__link Руководство по эксплуатации - KVC-DV.pdf
        figure.certificate__figure
          img.certificate__img(src="/assets/sert.png")
          figcaption.certificate__figcaption
            a.certificate__link  Руководство по эксплуатации - KVC-DE.pdf
        figure.certificate__figure
          img.certificate__img(src="/assets/sert_1.png")
          figcaption.certificate__figcaption
            a.certificate__link Сертификат на завесы электрические.pdf
            p.certificate__descript Действующий с 04.08.17
