include ../../modules/logo/logo
include ../../modules/download/download
include ../../modules/menu/menu
include ../../modules/spoiler/spoiler
include ../../modules/mainabout/mainabout
include ../../modules/imgblock/imgblock

header.header
  .container.container-big
    .header__top
      .header__left
        .header__svg
          +logo(layout="header")
        .header__download
          +download("Скачать прайс")
          +download("Скачать каталог")
      .header__search
        include ../../modules/search/search
      a.header__link(href="#") Задать вопрос
      .header__lang
        include ../../modules/lang/lang
      .header__hamburger
        include ../../modules/hamburger/hamburger
    .header__bottom
      +menu()
