include ../../modules/logo/logo
include ../../modules/download/download

header.header
  .header__top.container
    +logo(layout="header")
    .header__download
      +download("Скачать прайс")
      +download("Скачать каталог")
    .header__search
      include ../../modules/search/search
    a.header__link(href="#") Задать вопрос
    include ../../modules/lang/lang
    include ../../modules/hamburger/hamburger
