.examples{
  &__carousel{
    margin-left: 15px;
    @media(min-width:$tablet){
      margin-left: 30px;
    }
    @media(min-width:$notebook){
      margin-left: 0;
    }
  }
  &__item{
    width: 230px;
    @media(min-width:$tablet){
      width: 340px;
    }
    @media(min-width:$notebook){
      width: 370px;
    }
  }
  &__img{
    width: 100%;
    height: 160px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media(min-width:$tablet){
      height: 235px;
    }
  }
  &__descript{
    margin-top: 30px;
    @media(min-width:$tablet){
      font: $pointer;
    }
    @media(min-width:$notebook){
      margin-right: 100px;
    }
  }
  h3{
    margin: 0 0 20px 0;
    @media(min-width:$notebook){
      margin: 50px 0 50px 0;
    }
  }
  .owl-carousel .owl-stage{
    position: relative;
    margin: 0 auto;
  }
 }
