.examples
  .container
    h3 Примеры реализации
  .examples__carousel.owl-carousel
    .examples__item
      .examples__pick
        .examples__img(style="background-image:url('assets/examples1.png')")(alt="Проектное решение для склада на завесах KVC-D")
      .examples__descript Проектное решение для склада на завесах KVC-D
    .examples__item
      .examples__pick
        .examples__img(style="background-image:url('assets/examples2.png')")(alt="Проектное решение для склада на завесах KVC-D")
      .examples__descript Проектное решение для склада на завесах KVC-D
    .examples__item
      .examples__pick
        .examples__img(style="background-image:url('assets/examples3.png')")(alt="Проектное решение для склада на завесах KVC-D")
      .examples__descript Проектное решение для склада на завесах KVC-D
