.examples
  h3 Примеры реализации
  .examples__carousel
    .examples__item
      .examples__pick
        img.examples__img(src="assets/examples1.png")(alt="Проектное решение для склада на завесах KVC-D")
      .examples__descript Проектное решение для склада на завесах KVC-D
    .examples__item
      .examples__pick
        img.examples__img(src="/assets/examples2.png")(alt="Проектное решение для склада на завесах KVC-D")
      .examples__descript Проектное решение для склада на завесах KVC-D
    .examples__item
      .examples__pick
        img.examples__img(src="assets/examples3.png")(alt="Проектное решение для склада на завесах KVC-D")
      .examples__descript Проектное решение для склада на завесах KVC-D
