.dealers{
  &__map{
    padding-top: 172%;
    height:0;
    position: relative;
    margin-top: 10px;
    @media(min-width: $tablet){
      padding-top: 117%;
    }
    @media(min-width: $notebook){
      padding-top: 0;
      height:500px;
      width:100%;
    }
  }
  .dealers__yamap{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    @media(min-width: $notebook){
      position: relative;
    }
  }
  &__search{
    margin-top: 35px;
    margin-bottom: 35px;
    box-sizing: border-box;
    @media(min-width: $notebook){
      margin: 30px -15px 50px -15px;
    }
  }
  &__fieldset{
    border: 0;
    outline: none;
    padding:0;
    margin: -10px 0;
    font-size: 0;
    @media(min-width: $tablet){
      margin: 0;
    }
    span{
      display: none;
      @media(min-width: $tablet){
        font: $pointer;
        display: inline-block;
        width: 16%;
        width: calc(16% + 15px);
        @media(min-width: $notebook){
          width: auto;
          margin-right: 40px;
        }
      }
    }
    @media(min-width: $notebook){
      display: inline-block;
      width: calc(41% - 30px);
      margin: 0 15px;
      &:nth-of-type(2){
      width: calc(58% - 30px);
      }
    }
  }
  &__label{
    border: 0;
    outline: none;
    position: relative;
    display: block;
    @media(min-width: $tablet){
      display: inline-block;
    }
    @media(min-width: $notebook){
      width: 84%;
      width: calc(84% - 30px);
    }
    &.activeInput{
      .dealers__svg{
        color: $inactiveTxt;
        fill: $inactiveTxt;
      }
    }
  }
  &__svg{
    position: absolute;
    top: 25px;
    left: 20px;
    fill:$inactiveSvg;
    color:$inactiveSvg;
    transition: fill .3s, color .3s;
    @media(min-width: $tablet){
      top: 25px;
    }
  }
  &__input{
    border: 0;
    outline: none;
    background: $inactiveBg;
    height: 50px;
    width: 290px;
    padding: 20px 50px;
    box-sizing: border-box;
    margin: 10px 0;
    opacity: 1;
    font: $pointer;
    transition: color .3s;
    &::-moz-placeholder{
      color:$inactiveSvg;
      transition: color .3s;
      opacity: 1;
    }
    &::-webkit-input-placeholder{
      color:$inactiveSvg;
      transition: color .3s;
      opacity: 1;
    }
    &:-ms-input-placeholder{
      color:$inactiveSvg;
      transition: color .3s;
      opacity: 1;
    }
    &::-ms-input-placeholder{
      color:$inactiveSvg;
      transition: color .3s;
      opacity: 1;
    }
    &::placeholder{
      color:$inactiveSvg;
      transition: color .3s;
      opacity: 1;
    }
    &~ .dealers__svg{
      color: $inactiveSvg;
      fill: $inactiveSvg;
      transition: color .3s;
    }
    @media(min-width: $tablet){
      width: 340px;
    }
    @media(min-width: $notebook){
      max-width: 100%;
    }
    &-city{
      @media(min-width: $tablet){
        width: 470px;
      }
    }
    &:hover, &:focus{
        color:$activeBtn;
        &::-moz-placeholder{
          color:$activeBtn;
        }
        &::-webkit-input-placeholder{
          color:$activeBtn;
        }
        &:-ms-input-placeholder{
          color:$activeBtn;
        }
        &::-ms-input-placeholder{
          color:$activeBtn;
        }
        &::placeholder{
          color:$activeBtn;
        }
        &~ .dealers__svg{
          color: $activeBtn;
          fill: $activeBtn;
        }
    }
  }
  &__type{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px $download solid;
    margin-bottom: 40px;
    @media(min-width: $notebook){
      justify-content: flex-start;
    }
  }
  &__typeitem{
    padding:13px 20px;
    position: relative;
    &:after{
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      background: none;
      bottom: -2px;
      left: 0;
      transition: background .3s;
    }
    &-active{
      &:after{
        background: $activeBtn;
      }
    }
  }
  &__link{
    text-decoration: none;
    font:$pointer;
    @media(min-width:$tablet){
      font:$link;
    }
  }
  &__tabs{
    position: relative;
  }
  &__amount{
    display: none;
    @media(min-width: $tablet){
      display: block;
      position: absolute;
      left:0;
      top: 20px;
      font: $pointer;
    }
    @media(min-width: $tablet){
      font: $link;
    }
  }
  &__toggle{
    display: flex;
    @media(min-width: $tablet){
      justify-content: flex-end;
    }
  }
  &__button{
    padding: 15px;
    display: flex;
    align-items:center;
    width: 50%;
    cursor: pointer;
    box-sizing: border-box;
    transition: background .3s;
    @media(min-width: $tablet){
      width: 147px;
    }
    &-active{
      background: $uppArrow;
    }
  }
  &__buttonsvg{
    margin-right:20px;
  }
  &__show{
    position: absolute;
    overflow:hidden;
    opacity:0;
    transition: opacity .3s;
    height: 0;
    @media(min-width:$notebook){
      margin-top: 10px;
    }
    &-active{
      position: relative;
      opacity: 1;
      height: auto;
      overflow:unset;
    }
  }
  &__table{
    display: table;
    width: 100%;
  }
  &__row{
    display: table-row;
  }
  &__cell{
    display: table-cell;
    border-bottom: 1px $download solid;
    padding: 20px 30px;
    min-width: 120px;
    box-sizing: border-box;
    &:first-of-type{
      font:$tabletd;
    }
  }
  &__spoiler{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
}
