.dealers
  .dealers__search
    form(action="").dealers__filter
      fieldset.dealers__fieldset
        span Страна
        label.dealers__label
          input.dealers__input(type="text", placeholder="Страна")
          svg.dealers__svg(role="img")(width="14")(height="20"): use(xlink:href="#baloon")
      fieldset.dealers__fieldset
        span Город
        label.dealers__label
          input.dealers__input.dealers__input-city(type="text", placeholder="Город")
          svg.dealers__svg(role="img")(width="14")(height="20"): use(xlink:href="#baloon")
  .dealers__type
    .dealers__typeitem.dealers__typeitem-active
      a.dealers__link#all(href="#") Все
    .dealers__typeitem
      a.dealers__link#opt(href="#", data-text="Продажи оптом") Опт
    .dealers__typeitem
      a.dealers__link#ret(href="#", data-text="Продажи в розницу") Розница
  .dealers__tabs
    .dealers__amount Всего 43 дилера
    .dealers__toggle
      .dealers__button.dealers__button-active
        svg.dealers__buttonsvg(role="img")(width="14")(height="20"): use(xlink:href="#map")
        span На карте
      .dealers__button
        svg.dealers__buttonsvg(role="img")(width="17")(height="14"): use(xlink:href="#list")
        span Списком
    .dealers__result
      .dealers__show.dealers__show-active
        .dealers__map
          #mymap.dealers__yamap
      .dealers__show
        .dealers__show-scroll
          .dealers__table
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва,
                br
                | Рязанский пр.61/4
              .dealers__cell www.severcon.ru
                br
                | +7 495 252 08 28
                br
                | delar@severcon.ru
              .dealers__cell Федеральный дистрибьютер
              .dealers__cell Оптово-розничные продажи
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва,
                br
                | Рязанский пр.61/4
              .dealers__cell www.severcon.ru
                br
                | +7 495 252 08 28
                br
                | delar@severcon.ru
              .dealers__cell Федеральный дистрибьютер
              .dealers__cell Оптово-розничные продажи
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва,
                br
                | Рязанский пр.61/4
              .dealers__cell www.severcon.ru
                br
                | +7 495 252 08 28
                br
                | delar@severcon.ru
              .dealers__cell Федеральный дистрибьютер
              .dealers__cell Оптово-розничные продажи
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва,
                br
                | Рязанский пр.61/4
              .dealers__cell www.severcon.ru
                br
                | +7 495 252 08 28
                br
                | delar@severcon.ru
              .dealers__cell Федеральный дистрибьютер
              .dealers__cell Оптово-розничные продажи
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва,
                br
                | Рязанский пр.61/4
              .dealers__cell www.severcon.ru
                br
                | +7 495 252 08 28
                br
                | delar@severcon.ru
              .dealers__cell Федеральный дистрибьютер
              .dealers__cell Оптово-розничные продажи
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва,
                br
                | Рязанский пр.61/4
              .dealers__cell www.severcon.ru
                br
                | +7 495 252 08 28
                br
                | delar@severcon.ru
              .dealers__cell Федеральный дистрибьютер
              .dealers__cell Оптово-розничные продажи
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва,
                br
                | Рязанский пр.61/4
              .dealers__cell www.severcon.ru
                br
                | +7 495 252 08 28
                br
                | delar@severcon.ru
              .dealers__cell Федеральный дистрибьютер
              .dealers__cell Оптово-розничные продажи
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва,
                br
                | Рязанский пр.61/4
              .dealers__cell www.severcon.ru
                br
                | +7 495 252 08 28
                br
                | delar@severcon.ru
              .dealers__cell Федеральный дистрибьютер
              .dealers__cell Оптово-розничные продажи
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва,
                br
                | Рязанский пр.61/4
              .dealers__cell www.severcon.ru
                br
                | +7 495 252 08 28
                br
                | delar@severcon.ru
              .dealers__cell Федеральный дистрибьютер
              .dealers__cell Оптово-розничные продажи
        .dealers__spoiler
          +spoiler("Показать еще")
