.mobilemenu
  ul.mobilemenu__ul
    li.mobilemenu__li.mobilemenu__li-sub
      a(href="catalog.html").mobilemenu__link.mobilemenu__link-main Каталог
      svg.mobilemenu__svg(role="img")(width="10")(height="6"): use(xlink:href="#menuarrow")
      ul.mobilemenu__ul.mobilemenu__ul-sub
        li.mobilemenu__li.mobilemenu__li-first
          a.mobilemenu__link.mobilemenu__link-sub(href="#") Тепловые завесы
          svg.mobilemenu__svg(role="img")(width="10")(height="6"): use(xlink:href="#menuarrow")
          ul.mobilemenu__ul.mobilemenu__ul-sub
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-A
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-B
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-C
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-D
        li.mobilemenu__li.mobilemenu__li-first
          a.mobilemenu__link.mobilemenu__link-sub(href="#") Водяные тепловентиляторы
          svg.mobilemenu__svg(role="img")(width="10")(height="6"): use(xlink:href="#menuarrow")
          ul.mobilemenu__ul.mobilemenu__ul-sub
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-A
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-B
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-C
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-D
        li.mobilemenu__li.mobilemenu__li-first
          a.mobilemenu__link.mobilemenu__link-sub(href="#") ИК обогреватели
          svg.mobilemenu__svg(role="img")(width="10")(height="6"): use(xlink:href="#menuarrow")
          ul.mobilemenu__ul.mobilemenu__ul-sub
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-A
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-B
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-C
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-D
        li.mobilemenu__li.mobilemenu__li-first
          a.mobilemenu__link.mobilemenu__link-sub(href="#") Тепловые пушки
          svg.mobilemenu__svg(role="img")(width="10")(height="6"): use(xlink:href="#menuarrow")
          ul.mobilemenu__ul.mobilemenu__ul-sub
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-A
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-B
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-C
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-D
        li.mobilemenu__li.mobilemenu__li-first
          a.mobilemenu__link.mobilemenu__link-sub(href="#") Конвекторы
          svg.mobilemenu__svg(role="img")(width="10")(height="6"): use(xlink:href="#menuarrow")
          ul.mobilemenu__ul.mobilemenu__ul-sub
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-A
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-B
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-C
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-D
        li.mobilemenu__li.mobilemenu__li-first
          a.mobilemenu__link.mobilemenu__link-sub(href="#") Аксессуары
          svg.mobilemenu__svg(role="img")(width="10")(height="6"): use(xlink:href="#menuarrow")
          ul.mobilemenu__ul.mobilemenu__ul-sub
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-A
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-B
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-C
            li.mobilemenu__li.mobilemenu__li-second
              a.mobilemenu__link.mobilemenu__link-second(href="#") Завесы KVC-D
    li.mobilemenu__li
      a.mobilemenu__link(href="#") Подобрать технику
    li.mobilemenu__li
      a.mobilemenu__link(href="#") О компании
    li.mobilemenu__li
      a.mobilemenu__link(href="#") Где купить
    li.mobilemenu__li
      a.mobilemenu__link(href="#") Новости
    li.mobilemenu__li
      a.mobilemenu__link(href="#") Пертнерам
    li.mobilemenu__li
      a.mobilemenu__link(href="#") Сервис-центры
    li.mobilemenu__li
      a.mobilemenu__link(href="#") Контакты
