.table{
  border-collapse: collapse;
  display: flex;
  &__head{
    display: flex;
    flex-shrink:1;
  }
  &__column{
    display: flex;
    flex-direction: column;
    font: $tabletd;
    &:first-of-type{
      .table__cell{
        padding: 5px;
        padding-left: 0;
        width: 177px;
        @media(min-width:$notebook){
          width: 270px;
        }
      }
    }
    &-current{
      font: $link;
      .table__cell{
        background: $inactiveBg;
        position:relative;
        z-index: 100;
      }
    }
  }
  &__row{
    display: flex;
    &:last-of-type{
      .table__cell{
        border-bottom: 0;
      }
    }
  }
  &__cell{
    padding:20px;
    padding-left: 30px;
    box-sizing: border-box;
    min-width:180px;
    min-height: 50px;
    border-bottom:1px solid $tableBorder;
    @media(min-width:$tablet){
      min-width:200px;
      min-height: 60px;
    }
    &:first-of-type{
      min-width:178px;
    }
  }
  &__column{
    .table__cell{
        &:last-of-type{
          border-bottom: 0;
      }
    }
  }
  &__body{
    padding-bottom: 10px;
    flex-shrink:1;
    display:flex;
    flex-direction: column;
    @media(min-width:$tablet){
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
  &__th{
    font: $tableth;
  }
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background: $inactiveSvg;
  margin: 5px auto;
  height: 7px;
  width: 250px;
  @media(min-width:$notebook){
    left:-30px;
  }
  &:hover, &:active{
    background:$muteTxt;
  }
}
.mCSB_dragger-onDrag{
  background:$muteTxt;
}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail{
  background-color: transparent;
}
