.tab__table
  .table
    .table__head
      .table__column
        .table__cell
        .table__cell Длина завесы, мм
        .table__cell Режимы мощности, кВт
        .table__cell Потребляемая мощность двигателей, Вт
        .table__cell Ток двигателя при номинальном напряжении, А
        .table__cell Длина завесы, мм
        .table__cell Режимы мощности, кВт
        .table__cell Режимы мощности, кВт
        .table__cell Потребляемая мощность двигателей, Вт
        .table__cell Ток двигателя при номинальном напряжении, А
        .table__cell Длина завесы, мм
      .table__column.table__column-current
        .table__cell.table__th KVC-D10E9-31/32
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
    .table__body
      .table__row
        .table__cell.table__th
          a(href="detail.html") KVC-D10E9-31/32
        .table__cell.table__th
          a(href="detail.html") KVC-D10E9-31/32
        .table__cell.table__th
          a(href="detail.html") KVC-D10E9-31/32
        .table__cell.table__th
          a(href="detail.html") KVC-D10E9-31/32
        .table__cell.table__th
          a(href="detail.html") KVC-D10E9-31/32
        .table__cell.table__th
          a(href="detail.html") VC-D10E9-31/32
        .table__cell.table__th
          a(href="detail.html") KVC-D10E9-31/32
        .table__cell.table__th
          a(href="detail.html") KVC-D10E9-31/32
      .table__row
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
      .table__row
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
      .table__row
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
      .table__row
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
      .table__row
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
      .table__row
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
      .table__row
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
      .table__row
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
      .table__row
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
      .table__row
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
        .table__cell 171
