.more{
  cursor:pointer;
  font-size: 0;
  &__text{
    color:$inactiveBtn;
    font:$pointer;
    display: inline-block;
    margin-right: 22px;
    vertical-align: middle;
  }
  &__arrow{
    width: 60px;
    height: 40px;
    background: $inactiveBtn;
    display: inline-block;
    transition: background .3s;
    position: relative;
    vertical-align: middle;
    &:before{
      content: "";
      right: 22px;
      top: 20px;
      position: absolute;
      background: $hoverSvg;
      width: 20px;
      height: 2px;
      transition: transform .3s;
    }
  }
  &__svg{
    color:$hoverSvg;
    fill: $hoverSvg;
    display: inline-block;
    transition: transform .3s;
    right: 15px;
    top: 15px;
    position: absolute;
    z-index: 10;
    transition: transform .3s;
  }
  &:hover{
    .more__svg{
      transform: translateX(10px);
    }
    .more__arrow{
      background: $hoverBtn;
        &:before{
          transform: translateX(6px) scaleX(1.5);
        }
    }
    .more__text{
      color: $hoverBtn;
    }
  }
}
