.news{
  &__items{
    margin-top: -8px;
    @media(min-width: $tablet){
      margin-top: 18px;
    }
    @media(min-width: $notebook){
      display: flex;
      margin: 0 -15px;
      margin-top: 10px;
      flex-wrap: wrap;
    }
  }
  &__item{
    margin: 40px 0;
    align-content: flex-start;
    align-items: flex-start;
    @media(min-width: $tablet){
      display: flex;
      margin: 30px -15px;
    }
    @media(min-width: $notebook){
      width: 50%;
      margin: 20px 0;
    }
    &>a{
      display: block;
    }
  }
  &__img{
    @media(min-width: $tablet){
      width: 25%;
      width: calc(25% - 30px);
      margin: 0 15px;
    }
    @media(min-width: $notebook){
        width: 33%;
        width: calc(33% - 30px);
        max-height: 110px;
        overflow: hidden;
    }
    img{
      max-width: 100%;
    }
  }
  &__content{
    margin-top: 20px;
    @media(min-width: $tablet){
      width: 66%;
      width: calc(66% - 30px);
      margin: 0 15px;
    }
    @media(min-width: $notebook){
      position: relative;
      padding-bottom: 20px;
      box-sizing: border-box;
    }
  }
  &__text{
    margin-top: 10px;
    color: $muteTxt;
  }
  &__spoiler{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
    @media(min-width:$tablet){
      margin-bottom: -40px;
    }
  }
  &__h4{
    margin-bottom: 10px;
    @media(min-width:$tablet){
      font: $h4;
    }
  }
  &__date{
    display: none;
    @media(min-width:$notebook){
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      color: $muteTxt;
      font: $littleTxt;
    }
  }
}
