.news
  .news__items
    .news__item
      img.news__img(src="assets/news.jpg")
      .news__content
        a.news__link(href="detailnews.html")
          h4.news__h4 KALASHNIKOV — самый известный российский бренд в мире
        .news__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
    .news__item
      img.news__img(src="assets/news.jpg")
      .news__content
        a.news__link(href="detailnews.html")
          h4.news__h4 KALASHNIKOV — самый известный российский бренд в мире
        .news__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
    .news__item
      img.news__img(src="assets/news.jpg")
      .news__content
        a.news__link(href="detailnews.html")
          h4.news__h4 KALASHNIKOV — самый известный российский бренд в мире
        .news__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
    .news__item
      img.news__img(src="assets/news.jpg")
      .news__content
        a.news__link(href="detailnews.html")
          h4.news__h4 KALASHNIKOV — самый известный российский бренд в мире
        .news__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
    .news__item
      img.news__img(src="assets/news.jpg")
      .news__content
        a.news__link(href="detailnews.html")
          h4.news__h4 KALASHNIKOV — самый известный российский бренд в мире
        .news__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
    .news__item
      img.news__img(src="assets/news.jpg")
      .news__content
        a.news__link(href="detailnews.html")
          h4.news__h4 KALASHNIKOV — самый известный российский бренд в мире
        .news__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
    .news__item
      img.news__img(src="assets/news.jpg")
      .news__content
        a.news__link(href="detailnews.html")
          h4.news__h4 KALASHNIKOV — самый известный российский бренд в мире
        .news__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
    .news__item
      img.news__img(src="assets/news.jpg")
      .news__content
        a.news__link(href="detailnews.html")
          h4.news__h4 KALASHNIKOV — самый известный российский бренд в мире
        .news__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
    .news__item
      img.news__img(src="assets/news.jpg")
      .news__content
        a.news__link(href="detailnews.html")
          h4.news__h4 KALASHNIKOV — самый известный российский бренд в мире
        .news__text Под данным брендом выпускается в том числе и продукция гражданского назначения...
