.dealerblock{
  padding: 40px 0;
  &__onlineshops{
    margin-top: 40px;
  }
  &-page{
    .dealerblock__onlineshops{
      margin-top: 30px;
    }
    .onlineshops{
        margin-top: 20px;
    }
    .onlineshops__item{
      @media(min-width:$tablet){
        margin: 5px 80px 5px 0;
      }
    }
  }
}
.onlineshops{
  margin-bottom: 60px;
  margin-top: 30px;
  @media(min-width:$tablet){
    display: flex;
    flex-wrap: wrap;
  }
  @media(min-width:$notebook){
    width: 83%;
  }
  &__item{
    margin: 20px 0;
    @media(min-width:$tablet){
      margin: 10px 80px 10px 0;
    }
  }
  &__link{
    color: $inactiveBtn;
    font: $pointer;
  }
}
