.dealerblock
  h3 Где купить
  .dealerblock__onlineshops
    h4 Интернет-магазины
    .onlineshops
      .onlineshops__item
        a.onlineshops__link(href="http://primer.com") primer.com
      .onlineshops__item
        a.onlineshops__link(href="http://primer.com") primer.com
      .onlineshops__item
        a.onlineshops__link(href="http://primer.com") primer.com
      .onlineshops__item
        a.onlineshops__link(href="http://primer.com") primer.com
      .onlineshops__item
        a.onlineshops__link(href="http://primer.com") primer.com
      .onlineshops__item
        a.onlineshops__link(href="http://primer.com") primer.com
  .dealerblock__dealers
    .dealers
      h4 Дилеры
      .dealers__search
        form(action="").dealers__filter
          fieldset.dealers__fieldset
            label.dealers__label
              svg.dealers__svg(role="img")(width="14")(height="20"): use(xlink:href="#baloon")
              input.dealers__input(type="text", placeholder="Страна")
          fieldset.dealers__fieldset
            label.dealers__label
              svg.dealers__svg(role="img")(width="14")(height="20"): use(xlink:href="#baloon")
              input.dealers__input(type="text", placeholder="Город")
      .dealers__filter
        .dealers__filteritem Все
        .dealers__filteritem Опт
        .dealers__filteritem Розница
      .dealers__tabs
        .dealers__toggle
          .dealers__button На карте
          .dealers__button Списком
        .dealers__result
          .dealers__show.dealersblock__show-active
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва, Рязанский пр.61/4
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва, Рязанский пр.61/4
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва, Рязанский пр.61/4
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва, Рязанский пр.61/4
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва, Рязанский пр.61/4
            .dealers__row
              .dealers__cell
                a(href="#") Severcon
              .dealers__cell Москва, Рязанский пр.61/4
          .dealers__show
            .dealers__map
