.dealerblock__onlineshops
  h4 Интернет-магазины
  .onlineshops
    .onlineshops__item
      a.onlineshops__link(href="http://primer.com") primer.com
    .onlineshops__item
      a.onlineshops__link(href="http://primer.com") primer.com
    .onlineshops__item
      a.onlineshops__link(href="http://primer.com") primer.com
    .onlineshops__item
      a.onlineshops__link(href="http://primer.com") primer.com
    .onlineshops__item
      a.onlineshops__link(href="http://primer.com") primer.com
    .onlineshops__item
      a.onlineshops__link(href="http://primer.com") primer.com
.dealerblock__dealers
  h4 Дилеры
  include ../dealers/dealers
