.categoryfilter{
  &__buttonblock{
    display: flex;
    margin: 0 -5px;
    position: relative;
    flex-wrap: wrap;
  }
  &__hideblock{
    display: none;
    @media(min-width: $tablet){
      display: block;
    }
  }
  &__button{
    padding: 14px;
    box-sizing: border-box;
    height: 50px;
    background: $uppArrow;
    color: $activeBtn;
    border: 0;
    outline: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s;
    font: $pointer;
    &-filter{
      margin: 40px 5px 5px 5px;
      width: 50%;
      width:calc(47% - 10px);
      @media(min-width: $tablet){
        display: none;
      }
    }
    &-all{
      margin: 40px 5px 5px 5px;
      width: 50%;
      width:calc(53% - 10px);
      @media(min-width: $tablet){
        width: 70px;
      }
    }
    &-full{
      width: 100%;
      width: calc(100% - 10px);
      margin: 5px 5px 5px 5px;
      justify-content: space-between;
    }
    &-active{
      color: $hoverSvg;
      background: $activeBtn;
      transition: background .3s;
      svg{
        color: $hoverSvg;
        fill: $hoverSvg;
      }
    }
  }
  &__input{
    position: absolute;
    visibility: hidden;
  }
  &__filter{
    width: 150px;
    height: 50px;
    background: $uppArrow;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__svg{
    color: $inactiveTxt;
    fill:$inactiveTxt;
  }
  &__selectblock{
    margin-top: 20px;
  }
  &__selectitem{
    position: relative;
  }
  &__select{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__popup{
    display: none;
    &-open{
      display: block;
      padding: 5px 15px;
    }
  }
  &__popupitem{
    position: relative;
    margin: 25px 0;
  }
  &__popupinput{
    position: absolute;
    visibility: hidden;
    &:checked{
      &~.categoryfilter__popuplabel{
        &:after{
          content: "";
          display: block;
          width: 9px;
          height: 5px;
          border: #FFFFFF 2px solid;
          border-left-color: transparent;
          border-bottom-color: transparent;
          transform: rotate(130deg) skewX(-3deg);
          position: absolute;
          left: 3px;
          top: 3px;
          opacity: 1;
          transition: opacity .3s;
        }
        &:before{
          background: #F3930E;
          border-color: #F3930E;
        }
      }
    }
  }
  &__popuplabel{
    padding-left: 35px;
    &:before{
      content: "";
      width: 20px;
      height: 20px;
      border: 2px $inactiveSvg solid;
      position: absolute;
      left:0;
      top: 0;
      box-sizing: border-box;
    }
  }
}
