.categoryfilter
  .categoryfilter__wrapblock
    .categoryfilter__buttonblock
      .categoryfilter__button.categoryfilter__button-active.categoryfilter__button-all
        span Все
      label.categoryfilter__button.categoryfilter__button-filter(for="filter")
        input.categoryfilter__input.categoryfilter__input-filter(type="checkbox", value="filter", id="filter")
        svg.categoryfilter__svg(role="img")(width="30")(height="22"): use(xlink:href="#i_filter")
      a(href="#").categoryfilter__button.categoryfilter__button-hide.categoryfilter__button-full(for="electro")
        span(data-text="С электрическим источником тепла") С электрическим ист.т.
        svg.categoryfilter__svg(role="img")(width="37")(height="30"): use(xlink:href="#electrosvg")
      a(href="#").categoryfilter__button.categoryfilter__button-hide.categoryfilter__button-full(for="water")
        span(data-text="С водяным источником тепла") С водяным ист. тепла
        svg.categoryfilter__svg(role="img")(width="37")(height="30"): use(xlink:href="#watersvg")
      a(href="#").categoryfilter__button.categoryfilter__button-hide.categoryfilter__button-full(for="heating")
        span Без обогрева
        svg.categoryfilter__svg(role="img")(width="30")(height="30"): use(xlink:href="#heatingsvg")
      a(href="#").categoryfilter__button.categoryfilter__button-hide.categoryfilter__button-full(for="name")
        input.categoryfilter__input(type="checkbox", value="name", id="name")
        span Наименование без тега
      .categoryfilter__selectblock.categoryfilter__selectblock-hide
        .categoryfilter__selectitem
          .categoryfilter__select
            span Тип монтажа
              span.categoryfilter__counter
            span.categoryfilter__closesvg
              svg(role="img")(width="12")(height="12"): use(xlink:href="#close")
            svg.categoryfilter__selectsvg(role="img")(width="10")(height="6"): use(xlink:href="#selectarrow")
          .categoryfilter__popup
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="type1", id="type1")
              label.categoryfilter__popuplabel(for="type1")
                span Тип 1
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="type2", id="type2")
              label.categoryfilter__popuplabel(for="type2")
                span Тип 2
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="type3", id="type3")
              label.categoryfilter__popuplabel(for="type3")
                span Тип 3
        .categoryfilter__selectitem
          .categoryfilter__select
            span Производительность
              span.categoryfilter__counter
            span.categoryfilter__closesvg
              svg(role="img")(width="12")(height="12"): use(xlink:href="#close")
            svg.categoryfilter__selectsvg(role="img")(width="10")(height="6"): use(xlink:href="#selectarrow")
          .categoryfilter__popup
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="prod1", id="prod1")
              label.categoryfilter__popuplabel(for="prod1")
                span Производительность 1
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="prod2", id="prod2")
              label.categoryfilter__popuplabel(for="prod2")
                span Производительность 2
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="prod3", id="prod3")
              label.categoryfilter__popuplabel(for="prod3")
                span Производительность 3
        .categoryfilter__selectitem
          .categoryfilter__select
            span Потребляемая мощность
              span.categoryfilter__counter
            span.categoryfilter__closesvg
              svg(role="img")(width="12")(height="12"): use(xlink:href="#close")
            svg.categoryfilter__selectsvg(role="img")(width="10")(height="6"): use(xlink:href="#selectarrow")
          .categoryfilter__popup
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="power1", id="power1")
              label.categoryfilter__popuplabel(for="power1")
                span Мощность 1
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="power2", id="power2")
              label.categoryfilter__popuplabel(for="power2")
                span Мощность 2
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="power3", id="power3")
              label.categoryfilter__popuplabel(for="power3")
                span Мощность 3
        .categoryfilter__selectitem
          .categoryfilter__select
            span Макс. высота монтажа
              span.categoryfilter__counter
            span.categoryfilter__closesvg
              svg(role="img")(width="12")(height="12"): use(xlink:href="#close")
            svg.categoryfilter__selectsvg(role="img")(width="10")(height="6"): use(xlink:href="#selectarrow")
          .categoryfilter__popup
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="height1", id="height1")
              label.categoryfilter__popuplabel(for="height1")
                span Высота 1
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="height2", id="height2")
              label.categoryfilter__popuplabel(for="height2")
                span Высота 2
            .categoryfilter__popupitem
              input.categoryfilter__popupinput(type="checkbox", value="height3", id="height3")
              label.categoryfilter__popuplabel(for="height3")
                span Высота 3
      .categoryfilter__controls
        span.categoryfilter__apply Применить
        span.categoryfilter__reset Сбросить
