.article{
  margin: 40px auto;
  border-top: 1px $download solid;
  @media(min-width:$tablet){
    margin: 50px auto 10px auto;
  }

  h2{
    font:$partnerstitle;
    margin-top: 35px;
    margin-bottom: 20px;
    @media(min-width:$tablet){
      font:$slidertext;
    }
    @media(min-width:$notebook){
      font:$pluses;
    }
  }
  p{
    @media(min-width:$tablet){
      font: $link;
    }
  }
}
