.article
  h2 Заголовок H2
  p Воздушные завесы KALASHNIKOV с высотой установки до 3,5 м будут наиболее востребованы в общественных зданиях с любой интенсивностью проходящего потока, офисах, супермаркетах, торгово-развлекательных и бизнес центрах, в боксах авто-транспортных предприятий.
  p В ассортименте этой линейки — модели с источником тепла, а также завесы без нагрева. Воздушные завесы KALASHNIKOV с высотой установки до 3,5 м будут наиболее востребованы в общественных зданиях с любой интенсивностью проходящего потока, офисах, супермаркетах, торгово-развлекательных и бизнес центрах, в боксах авто-транспортных предприятий.
