.slider.slider-sliderdetail
  .slider__items.owl-carousel
    .slider__item
      .slider__bg(style="background-image: url(assets/sliderdetail.png)")
    .slider__item
      .slider__bg(style="background-image: url(assets/banner1.jpg)")
    .slider__item
      .slider__bg(style="background-image: url(assets/banner2.png)")
    .slider__item
      .slider__bg(style="background-image: url(assets/banner3.png)")
  .slider__nav.container
    .count
      .count__amount.count__amount-current 01
      .count__amount.count__amount-total 04
    .flipping
