.contacts{
  margin-top: 25px;
  @media(min-width:$tablet){
    margin: 25px 0;
  }
  @media(min-width:$notebook){
    margin-bottom: 110px;
    margin: 40px 0;
  }
  &.content {
    p{
      line-height: 2em;
      @media(min-width:$tablet){
      font: $pointer;
      line-height: 2em;
      }
    }
    h4{
      font: $h3;
    }
  }
}
