.features
  figure.features__param.features__param-question
    .features__pick
      svg.features__svg(role="img")(width="40")(height="40"): use(xlink:href="#height")
    figcaption.features__text
      p Высота установки до&nbsp;2,5 м
      .features__spoiltext
        h4 Гарантия 3 года
        | Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.
      .features__question
        svg(role="img")(width="15")(height="15"): use(xlink:href="#question")
  figure.features__param
    .features__pick
      svg.features__svg(role="img")(width="40")(height="40"): use(xlink:href="#installation")
    figcaption.features__text
      p Монтаж горизонтальный и вертикальный
  figure.features__param
    .features__pick
      svg.features__svg(role="img")(width="40")(height="40"): use(xlink:href="#ip")
    figcaption.features__text
      p Класс исполнения IP21
  figure.features__param
    .features__pick
      svg.features__svg(role="img")(width="40")(height="40"): use(xlink:href="#warranty")
    figcaption.features__text
      p Гарантия 3 года
