.search{
  position: relative;
  color: $inactiveBtn;
  width: 240px;
  height: 35px;
  max-width: 100%;
  box-sizing: border-box;
  @media(min-width:$tablet){
    width: 640px;
    height: 40px;
  }
  @media(min-width:$desctop){
    width: 370px;
  }
  cursor: pointer;
  &__text{
    font: $link;
    position: absolute;
    z-index:100;
    top: 9px;
    left: 13px;
    @media(min-width:$tablet){
      top: 11px
    }
    @media(min-width:$desctop){
    top: 12px;
    right: 50px;
  }
  }
  &__svg{
    fill: $inactiveBtn;
    position: absolute;
    top: 9px;
    right: 10px;
    @media(min-width:$tablet){
      top: 11px
    }
    @media(min-width:$desctop){
    top: 12px;
    right: 20px;
  }
  }
  &__input{
    display:block;
    width: 240px;
    height: 35px;
    border: 1px solid $inactiveBtn;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    color: $inactiveBtn;
    font: $link;
    @media(min-width:$tablet){
      width: 640px;
      height: 40px
    }
    @media(min-width:$desctop){
    display: none;
  }
  }
  @media(min-width:$desctop){
  &__input.activeInput{
    display:block;
    width: 370px;
    height: 40px;
    border: 1px solid $inactiveBtn;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    color: $inactiveBtn;
    font: $link;
  }
  &:hover{
    .search__input{
      display:block;
      width: 370px;
      height: 40px;
      border: 1px solid $inactiveBtn;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      color: $inactiveBtn;
      font: $link;
    }
  }
}
}
