.good
  .good__pick
    img.good__img(src="assets/tepl_condey.png" alt="Тепловые завесы")
  a(href="category.html").good__link
    span Тепловая завеса KVC-D15E12-31/32
    .good__arrow
      svg.good__svg(role="img")(width="20")(height="10"): use(xlink:href="#arrow")
  .good__features
    .good__feature
      svg.good__featuresvg(role="img")(width="33")(height="28"): use(xlink:href="#electrosvg")
      .good__text источник тепла
    .good__feature
      svg.good__featuresvg(role="img")(width="28")(height="28"): use(xlink:href="#watt")
      .good__text мощность 220&nbsp;Вт
  .good__price
    +buylink(link = "wherebuy.html")
    .price__amount
      .price__num 41 800
      svg.prise__svg(role="img")(width="12")(height="16"): use(xlink:href="#rub")
