.slider{
  &__items{
  }
  &__item{
    height: 300px;
    padding: 0 15px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    @media(min-width: $tablet){
      height: 630px;
      padding: 0 30px;
    }
    @media(min-width: $notebook){
      height: 500px;
      padding:0;
      width: 770px;
    }
    &:hover{
      .slider__href{
        color: $hoverSvg;
      }
      @media(min-width: $tablet){
        .slider__href{
          color: $hoverBtn;
        }
      }
      .slider__button{
        background: $inactiveBtn;
        &:before{
          transform: translateX(6px) scaleX(1.4);
          right: 19px;
        }
      }
      .slider__svg{
        transform: translateX(7px);
      }
    }
  }
  &__bg{
    height: 100%;
    width: 100%;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
  }
  &__content{
    padding-bottom: 40px;
    padding-left: 30px;
    text-align: left;
    @media(min-width:$tablet){
      padding-bottom: 165px;
      padding-left: 30px;
    }
    @media(min-width:$notebook){
      padding-bottom: 40px;
      padding-left: 60px;
    }
    &-light{
      .slider__title{
        color: $hoverSvg;
      }
      .slider__text{
        color: $hoverSvg;
        &:before{
          background: $hoverSvg;
        }
      }
    }
  }
  &__title{
    color: $inactiveTxt;
    font:$title;
    margin: 20px 0;
    @media(min-width:$tablet){
      font: $h1;
      max-width: 83%;
    }
    @media(min-width:$notebook){
      margin:0;
    }
  }
  &__text{
    display: flex;
    font:$pointer;
    margin: 20px 0;
    color: $inactiveTxt;
    &:before{
      content: "";
      width: 40px;
      height: 2px;
      background: $inactiveTxt;
      margin-right: 15px;
      margin-top: 12px;
      display: inline-block;
      @media(min-width:$tablet){
        margin-top: 15px;
      }
    }
    @media(min-width:$tablet){
      font: $slidertext;
    }
    @media(min-width:$notebook){
      font: $h3;
      margin-top: 37px;
      margin-bottom: 90px;
    }
  }
  &__link{
    margin-top: 36px;
  }
  &__href{
    background: $inactiveBtn;
    padding: 10px 20px;
    font: $link;
    color: $hoverSvg;
    text-decoration: none;
    display: inline;
    &:hover{
      color: $hoverSvg;
    }
    @media(min-width:$tablet){
      padding: 0;
      font: $pointer;
      background: none;
      color: $inactiveBtn;
      display: flex;
      align-items: center;
    }

  }
  &__button{
    display: none;
    @media(min-width:$tablet){
      display:block;
      background:$inactiveBtn;
      display: inline-block;
      margin-left: 18px;
      width: 60px;
      height: 40px;
      box-sizing: border-box;
      position: relative;
    &:before{
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background: $hoverSvg;
      top: 20px;
      right: 17px;
      transition: transform .3s;
    }
  }
  @media(min-width:$notebook){
    margin-left: 40px;
  }
  }
  &__svg{
    color: $hoverSvg;
    fill: $hoverSvg;
    position: absolute;
    top: 15px;
    right: 8px;
    z-index: 10;
    transition: transform .3s;
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:5px;
    @media(min-width:$notebook){
      margin-top:40px;
    }
  }
}
.count{
  display: flex;
  &__amount{
    display: flex;
    align-items: center;
    &-current{
      color:$inactiveBtn;
      &:after{
        content: "";
        width: 40px;
        height: 2px;
        background:$inactiveBtn;
        display:inline-block;
        margin: 0 10px;
        vertical-align: middle;
      }
    }
  }
}
.flipping{
  margin: 0 -5px;
  &__arrow{
    width:60px;
    background:$inactiveBg;
    display: inline-block;
    margin: 0 5px;
    box-sizing: border-box;
    transition: background .3s;
    height: 40px;
    cursor: pointer;
    position:relative;
    &:before{
      content:"";
      position: absolute;
      width: 20px;
      height: 2px;
      background: $inactiveSvg;
      transition: transform .3s, background .3s;
    }
    &:hover{
      background: $activeBtn;
      .flipping__svg{
          color: $hoverSvg;
          fill: $hoverSvg;
          transform: translateX(7px);
      }
      &:before{
        background: $hoverSvg;
        transform: translateX(6px) scaleX(1.4);
      }
    }
  }
  &__svg{
    color:$inactiveSvg;
    fill:$inactiveSvg;
    transition:transform .3s, fill .3s, color .3s;
    position: absolute;
    z-index: 10;
  }
  .owl-prev{
    transform:scale(-1);
    &:before{
      left: 20px;
      bottom: 19px;
    }
    .flipping__svg{
      left: 30px;
      bottom: 14px;
    }
  }
  .owl-next{
    &:before{
      right: 20px;
      top: 19px;
    }
    .flipping__svg{
      right: 10px;
      top: 14px;
    }
  }
}
.owl-item{
  @media(min-width:$notebook){
    .slider__content{
      opacity:0;
      transition: opacity 1s, background .3s;
    }
  }
}
.owl-item.active.center{
  @media(min-width:$notebook){
    .slider__content{
      opacity: 1;
      transition: opacity 1s;
    }
  }
}
