.slider
  .count
    .count__amount.count__amount-current 01
    .count__amount.count__amount-total 04
  .flipping
    .flipping__arrow.flipping__arrow-left
      svg.flipping__svg(role="img")(width="20")(height="10"): use(xlink:href="#sliderarrow")
    .flipping__arrow.flipping__arrow-right
      svg.flipping__svg(role="img")(width="20")(height="10"): use(xlink:href="#sliderarrow")
