.slider
  .slider__items.owl-carousel
    .slider__item
      .slider__bg(style="background-image: url(assets/banner1.jpg)")
        .slider__content
          .slider__title Тепловая техника KALASHNIKOV
          .slider__text
            span Искусство в деталях. Надежно
          .slider__link
            a.slider__href(href="catalog.html") В каталог
              span.slider__button
                svg.slider__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
    .slider__item
      .slider__bg(style="background-image: url(assets/banner1.jpg)")
        .slider__content
          .slider__title Новая модель техники KALASHNIKOV
          .slider__text
            span Крутая при-крутая техника
          .slider__link
            a.slider__href(href="catalog.html") В каталог
              span.slider__button
                svg.slider__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
    .slider__item
      .slider__bg(style="background-image: url(assets/banner2.png)")
        .slider__content
          .slider__title KALASHNIKOV
          .slider__text
            span Кому калаша
          .slider__link
            a.slider__href(href="catalog.html") В каталог
              span.slider__button
                svg.slider__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
    .slider__item
      .slider__bg(style="background-image: url(assets/banner3.png)")
        .slider__content
          .slider__link
            a.slider__href(href="catalog.html") Просто ссылка
              span.slider__button
                svg.slider__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
  .slider__nav.container
    .count
      .count__amount.count__amount-current 01
      .count__amount.count__amount-total 04
    .flipping
