.heatcurtains{
  margin: 37px 0 0;
  &__filter{
    margin-top: 51px;
    @media(min-width:$tablet){
      margin: 0 -15px;
      margin-top: 51px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item{
    border: 0;
    outline: none;
    padding: 40px 0;
    border-bottom: 1px solid $download;
    @media(min-width:$tablet){
      padding: 36px 0 50px 0;
      width: 50%;
      width: calc(50% - 50px);
      margin: 0 15px 40px 15px;
    }
    @media(min-width:$notebook){
      width: 33%;
      width: calc(33% - 50px);
      margin: 0 15px 40px 15px;
    }
    &-info{
      color:$inactiveBtn;
      font: $littleTxt;
      display: flex;
      margin: 30px 0 60px 0;
      border: 0;
      padding-bottom: 0;
      max-width: 290px;
      @media(min-width:$tablet){
        margin-top: 0;
      }
      @media(min-width:$notebook){
        width: 300px;
        margin: 0 15px 40px 15px;
        font: $link;
      }
    }
    &-city{
      border: 0;
      padding-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      @media(min-width:$notebook){
        width: auto;
        margin: 0 55px 40px 15px;
      }
    }
    &-send{
      border: 0;
      width: 100%;
      width: calc(100% - 50px);
      text-align: center;
      @media(min-width:$notebook){
        text-align: left;
      }
    }
  }
  &__weathersvg{
    margin-right: 20px;
    flex-shrink: 0;
  }
  &__legend{
    font: $pointer;
    margin-bottom: 14px;
    &-left{
      display: none;
      @media(min-width:$tablet){
        display: block;
        float: left;
        margin-right: 16px;
        margin-top: 16px;
      }
      @media(min-width:$notebook){
        margin-right: 50px;
        margin-top: 16px;
      }
    }
  }
  &__label{
    position: relative;

  }
  &__svg{
    position: absolute;
    top: 18px;
    left: 18px;
  }
  &__textinput{
    height: 50px;
    box-sizing: border-box;
    padding: 14px 30px 14px 20px;
    border: 0;
    outline: none;
    background: $inactiveBg;
    margin: 5px 0;
    max-width: 200px;
    &-city{
      width: 290px;
      max-width: 100%;
      padding: 14px 30px 14px 50px;
        @media(min-width:$notebook){
          width: 470px;
        }
    }
  }
  &__textlabel{
    position: relative;
    display: block;
    max-width: 200px;
    span{
      position: absolute;
      right: 15px;
      top: 19px;
      font: pointer;
    }
  }
  &__radioinput{
    position: absolute;
    visibility: hidden;
    &:checked{
      &+label{
        color: $inactiveTxt;
        &:before{
          background: $inactiveBtn;
          border-color: $inactiveBtn;
        }
        &:after{
          border: $hoverSvg 2px solid;
          border-left-color: transparent;
          border-bottom-color: transparent;
        }
      }
    }
  }
  &__labelinput{
    position: relative;
    display: block;
    padding-left: 10px;
    margin: 16px;
    color: $inactiveSvg;
    transition: color .3s;
    cursor: pointer;
    &:before{
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      border: 2px solid $inactiveSvg;
      content: '';
      position: absolute;
      left: -15px;
      top: 2px;
      transition: background .3s, border .3s;
    }
    &:after{
      content: "";
      display: block;
      width: 7px;
      height: 3px;
      transform: rotate(130deg) skewX(-3deg);
      position: absolute;
      left: -13px;
      top: 3px;
      opacity: 1;
      transition: opacity .3s;
      border: transparent;
    }
  }
  &__explain{
    font: $littleTxt;
    color: $inactiveSvg;
  }
  &__slider{
    position: relative;
    &:before{
      content: "min";
      position: absolute;
      left: 0;
      top:0;
      color: $muteTxt;
    }
    &:after{
      content: "max";
      position: absolute;
      right: 0;
      top:0;
      color: $muteTxt;
    }
    .irs-line-mid{
      height: 7px;
    }
    .irs-line{
      height: 7px;
      border-radius: 0;
      border-color: $borderColor;
      background: $borderColor;
    }
    .irs-bar{
      height: 7px;
      background: $inactiveBtn;
      border-color: $borderColor;
    }
    .irs-line-left{
      height: 7px;
      border-color: $inactiveBtn;
    }
    .irs-line-right{
      height: 7px;
      border-color: $inactiveBtn;
    }
    .irs-bar-edge{
      height: 7px;
      background: $inactiveBtn;
      border-color: $borderColor;
    }
    .irs-slider{
      height: 7px;
      top:34px;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      background: $inactiveBtn;
    }
    .irs-from, .irs-to, .irs-single{
      background: none;
      color: $muteTxt;
      font: $pointer;
    }
    .irs-min, .irs-max{
      background: none;
      color: $muteTxt;
      font: $pointer;
    }
    .irs-grid-text{
      font: $littleTxt;
      color: $muteTxt;
      transform: translate(-1px);
      bottom:0;
    }
    .irs-from, .irs-to, .irs-single{
      display: none;
    }
  }
  &__buttoninput{
    width: 290px;
    height: 50px;
    background: $inactiveBtn;
    border: 0;
    outline: none;
    color: $hoverSvg;
    font: $pointer;
    @media(min-width:$tablet){
      margin-top: 40px;
      width: 220px;
    }
    @media(min-width:$notebook){
      margin-top: 0;
    }
  }
}
