.heatcurtains{
  margin: 37px 0 0;
  @media(min-width:$tablet){
    margin-top: 45px;
  }
  &__filter{
    margin-top: 51px;
    @media(min-width:$tablet){
      margin: 0 -20px;
      margin-top: 51px;
      display: flex;
      flex-wrap: wrap;
    }
    @media(min-width:$notebook){
      margin: 0 -35px;
      margin-top: 0px;
      margin-top: 51px;
    }
  }
  &__item{
    border: 0;
    outline: none;
    padding: 40px 0;
    border-bottom: 1px solid $download;
    box-sizing: border-box;
    @media(min-width:$tablet){
      padding: 0 0 36px 0;
      width: 50%;
      width: calc(50% - 50px);
      margin: 0 20px 40px 20px;
    }
    @media(min-width:$notebook){
      width: 33%;
      width: calc(33% - 70px);
      margin: 0 35px 40px 35px;
    }
    &-info{
      color:$inactiveBtn;
      font: $littleTxt;
      display: flex;
      margin: 30px 0 12px 5px;
      border: 0;
      padding: 0;
      max-width: 290px;
      @media(min-width:$tablet){
        margin: 0 0 12px -15px
      }
      @media(min-width:$notebook){
        width: 100%;
        max-width: 370px;
        margin: 0 15px 40px 5px;
        font: $link;
      }
    }
    &-city{
      border: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      @media(min-width:$tablet){
        flex-wrap: nowrap;
        width: calc(60% - 50px);
        margin-left: 20px;
        margin-bottom: 60px;
      }
      @media(min-width:$notebook){
        width: auto;
        margin: 0 55px 88px 35px;
      }
    }
    &-send{
      border: 0;
      width: 100%;
      width: calc(100% - 50px);
      text-align: center;
      margin-top: 20px;
      @media(min-width:$tablet){
        margin-top: 0;
        margin-bottom: 0;
      }
      @media(min-width:$notebook){
        text-align: left;
        margin-top: 20px;
        margin-bottom: 45px;
      }
    }
  }
  &__weathersvg{
    margin-right: 20px;
    flex-shrink: 0;
  }
  &__legend{
    font: $pointer;
    margin-bottom: 14px;
    &-left{
      display: none;
      @media(min-width:$tablet){
        display: block;
        float: left;
        margin-right: 16px;
        margin-top: 16px;
      }
      @media(min-width:$notebook){
        margin-right: 50px;
        margin-top: 16px;
      }
    }
  }
  &__label{
    position: relative;
  }
  &__svg{
    position: absolute;
    top: 15px;
    left: 18px;
    color: $inactiveSvg;
    fill: $inactiveSvg;
    transition: color .3s, fill .3s;
  }
  &__textinput{
    height: 50px;
    box-sizing: border-box;
    padding: 14px 30px 14px 20px;
    border: 0;
    outline: none;
    background: $inactiveBg;
    max-width: 200px;
    color:$inactiveSvg;
    transition: color .3s;
    opacity: 1;
    &::-moz-placeholder{
      color:$inactiveSvg;
      transition: color .3s;
      opacity: 1;
    }
    &::-webkit-input-placeholder{
      color:$inactiveSvg;
      transition: color .3s;
      opacity: 1;
    }
    &:-ms-input-placeholder{
      color:$inactiveSvg;
      transition: color .3s;
      opacity: 1;
    }
    &::-ms-input-placeholder{
      color:$inactiveSvg;
      transition: color .3s;
      opacity: 1;
    }
    &::placeholder{
      color:$inactiveSvg;
      transition: color .3s;
      opacity: 1;
    }
    &~ span{
      color:$inactiveSvg;
      transition: color .3s;
    }
    &-city{
      width: 290px;
      max-width: 100%;
      padding: 14px 30px 14px 50px;
        @media(min-width:$notebook){
          width: 470px;
        }
    }
    &:hover, &.active, &:focus{
        color:$activeBtn;
        &::-moz-placeholder{
          color:$activeBtn;
        }
        &::-webkit-input-placeholder{
          color:$activeBtn;
        }
        &:-ms-input-placeholder{
          color:$activeBtn;
        }
        &::-ms-input-placeholder{
          color:$activeBtn;
        }
        &::placeholder{
          color:$activeBtn;
        }
        &~ .heatcurtains__svg{
          color: $activeBtn;
          fill: $activeBtn;
        }
        &~ span{
          color: $activeBtn;
        }
      }
  }
  &__textlabel{
    position: relative;
    display: block;
    max-width: 200px;
    margin-top: 10px;
    &:first-of-type{
      margin-top: 0;
    }
    span{
      position: absolute;
      right: 15px;
      top: 15px;
      font: pointer;
    }
  }
  &__radioinput{
    position: absolute;
    visibility: hidden;
    &:checked, &:hover, &:focus{
      &+label{
        color: $inactiveTxt;
        &:before{
          border-color: $inactiveBtn;
          border-width: 5px;
        }
      }
    }
  }
  &__labelinput{
    position: relative;
    display: block;
    padding-left: 10px;
    margin: 16px;
    margin-bottom: 0;
    color: $inactiveSvg;
    transition: color .3s;
    cursor: pointer;
    &:first-of-type{
      margin-top: 25px;
    }
    &:before{
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      border: 2px solid $inactiveSvg;
      content: '';
      position: absolute;
      left: -15px;
      top: 2px;
      transition: background .3s, border .3s;
      border-radius: 100%;
    }
  }
  &__explain{
    font: $littleTxt;
    color: $inactiveSvg;
  }
  &__slider{
    position: relative;
    &:before{
      content: "min";
      position: absolute;
      left: 0;
      top:0;
      color: $muteTxt;
    }
    &:after{
      content: "max";
      position: absolute;
      right: 0;
      top:0;
      color: $muteTxt;
    }
    .irs-line-mid{
      height: 7px;
    }
    .irs-line{
      height: 7px;
      border-radius: 0;
      border-color: $borderColor;
      background: $borderColor;
    }
    .irs-bar{
      height: 7px;
      background: $inactiveBtn;
      border-color: $borderColor;
    }
    .irs-line-left{
      height: 7px;
      border-color: $inactiveBtn;
    }
    .irs-line-right{
      height: 7px;
      border-color: $inactiveBtn;
    }
    .irs-bar-edge{
      height: 7px;
      background: $inactiveBtn;
      border-color: $borderColor;
    }
    .irs-slider{
      height: 7px;
      top:34px;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      background: $inactiveBtn;
    }
    .irs-from, .irs-to, .irs-single{
      background: none;
      color: $muteTxt;
      font: $pointer;
    }
    .irs-min, .irs-max{
      background: none;
      color: $muteTxt;
      font: $pointer;
    }
    .irs-grid-text{
      font: $littleTxt;
      color: $muteTxt;
      transform: translate(-1px);
      bottom:0;
    }
    .irs-from, .irs-to, .irs-single{
      display: none;
    }
  }
  &__buttoninput{
    width: 290px;
    height: 50px;
    background: $inactiveBtn;
    border: 0;
    outline: none;
    color: $hoverSvg;
    font: $pointer;
    cursor: pointer;
    transition: background .3s;
    @media(min-width:$tablet){
      margin-top: 20px;
      width: 220px;
    }
    @media(min-width:$notebook){
      margin-top: 0;
    }
    &:hover{
      background: $hoverBtn;
    }
    &.sent{
      background: $activeBtn;
    }
   }
  &__text{
    @media(min-width:$tablet){
      font:$pointer;
    }
    @media(min-width:$notebook){
      max-width: 700px;
    }
  }
  .spoilarrow{
    position: static;
  }
}
