.accessories
  h3 Аксессуары
  .accessories__items
    .accessories__item
      .accessories__pick
        img.accessories__img(src="assets/console.png")
      a.accessories__link(href='product.html')
        span.accessories__title Пульт управления для линейки KVC-D
        .accessories__arrow
          svg.accessories__arrowsvg(role='img', width='20', height='12')
            use(xlink:href='#arrow')
      .accessories__buylink
        +buylink(link = "#wherebuy")
        .accessories__price
          .accessories__num 800
          svg.accessories__svg(role="img")(width="12")(height="16"): use(xlink:href="#rub")
    .accessories__item
      .accessories__pick
        img.accessories__img(src="assets/console1.png")
      a.accessories__link(href='product.html')
        span.accessories__title Пульт управления для линейки KVC-D
        .accessories__arrow
          svg.accessories__arrowsvg(role='img', width='20', height='12')
            use(xlink:href='#arrow')
      .accessories__buylink
        +buylink(link = "#wherebuy")
        .accessories__price
          .accessories__num 800
          svg.accessories__svg(role="img")(width="12")(height="16"): use(xlink:href="#rub")
    .accessories__item
      .accessories__pick
        img.accessories__img(src="assets/console2.png")
      a.accessories__link(href='product.html')
        span.accessories__title Пульт управления для линейки KVC-D
        .accessories__arrow
          svg.accessories__arrowsvg(role='img', width='20', height='12')
            use(xlink:href='#arrow')
      .accessories__buylink
        +buylink(link = "#wherebuy")
        .accessories__price
          .accessories__num 800
          svg.accessories__svg(role="img")(width="12")(height="16"): use(xlink:href="#rub")
    .accessories__item
      .accessories__pick
        img.accessories__img(src="assets/console2.png")
      a.accessories__link(href='product.html')
        span.accessories__title Пульт управления для линейки KVC-D
        .accessories__arrow
          svg.accessories__arrowsvg(role='img', width='20', height='12')
            use(xlink:href='#arrow')
      .accessories__buylink
        +buylink(link = "#wherebuy")
        .accessories__price
          .accessories__num 800
          svg.accessories__svg(role="img")(width="12")(height="16"): use(xlink:href="#rub")
  .accessories__spoiler
    +spoiler("Показать еще")
