.listnews
  .listnews__title Список новостей
  .listnews__item
    a.listnews__link(href="detailnews.html") KALASHNIKOV — самый известный российский бренд в&nbsp;мире
  .listnews__item
    a.listnews__link(href="detailnews.html") С 27 февраля по 2 марта в Москве пройдет выставка «МИР&nbsp;КЛИМАТА»
  .listnews__item
    a.listnews__link(href="detailnews.html") KALASHNIKOV — самый известный российский бренд в&nbsp;мире
  .listnews__item
    a.listnews__link(href="detailnews.html") С 27 февраля по 2 марта в Москве пройдет выставка «МИР&nbsp;КЛИМАТА»
