.sendmail
  h2 Выслать результаты расчёта
  form.sendmail__form
    label.sendmail__label
      svg.sendmail__svg(role="img")(width="20")(height="16"): use(xlink:href="#mail")
      input.sendmail__input(placeholder="E-mail")
