.catalog{
  &__items{
    width:100%;
    margin-top: 12px;
    @media(min-width:$tablet){
      display: flex;
      margin: 40px -10px 0 -10px;
      flex-wrap: wrap;
      width: 100%;
      width: calc(100% + 20px);
    }
    @media(min-width:$notebook){
      margin: 33px -15px 0 -15px;
      width: 100%;
      width: calc(100% + 30px);
    }
  }
  &__item{
    margin: 40px auto;
    @media(min-width:$tablet){
      width: 33%;
      width: calc(33% - 20px);
      margin: 0 10px;
      margin-bottom: 35px;
    }
    @media(min-width:$notebook){
      width: 33%;
      width: calc(33% - 30px);
      margin: 0 15px;
      margin-bottom: 50px;
    }
  }
  &__img{
    background:$inactiveBg;
    padding: 10px 30px;
    height: 290px;
    box-sizing: border-box;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    @media(min-width:$tablet){
      height: 190px;
      padding: 30px;
    }
    @media(min-width:$notebook){
      height: 242px;
    }
  }
  &__pick{
    width: auto!important;//перекрываем owlCarousel
    max-width:100%;
    max-height: 100%;
  }
  &__link{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-decoration: none;
    font: $pointer;
    span{
      margin-right: 60px;
    }
    &:hover{
      .catalog__svg{
        transform: translateX(13px);
        color: $inactiveBtn;
        fill: $inactiveBtn;
      }
      .catalog__arrow{
        &:before{
          transform: translateX(10px) scaleX(1.5);
          background: $inactiveBtn;
        }
      }
    }
  }
  &__svg{
    color: $download;
    fill: $download;
    position: absolute;
    right: 0;
    top: 6px;
    transition: transform .3s, color .3s, fill .3s;
  }
  &__arrow{
    position: relative;
    &:before{
      content: '';
      transition: transform .3s, background .3s;
      width: 20px;
      height: 2px;
      background: $download;
      position: absolute;
      right:  20px;
      top: 10px;
    }
  }
}
