.catalog
  .catalog__items
    a(href="category.html").catalog__item
      .catalog__img
        img.catalog__pick(src="assets/tepl_condey.png")(alt="Тепловые завесы")
      .catalog__link
        span Тепловые завесы
        .catalog__arrow
          svg.catalog__svg(role="img")(width="40")(height="10"): use(xlink:href="#arrow")
    a(href="category.html").catalog__item
      .catalog__img
        img.catalog__pick(src="assets/kvf-w-main.png")(alt="Инфракрасные обогреватели")
      .catalog__link
        span Инфракрасные обогреватели
        .catalog__arrow
          svg.catalog__svg(role="img")(width="40")(height="10"): use(xlink:href="#arrow")
    a(href="category.html").catalog__item
      .catalog__img
        img.catalog__pick(src="assets/inf.png")(alt="Тепловые пушки")
      .catalog__link
        span Тепловые пушки
        .catalog__arrow
          svg.catalog__svg(role="img")(width="40")(height="10"): use(xlink:href="#arrow")
    a(href="category.html").catalog__item
      .catalog__img
        img.catalog__pick(src="assets/teplopushka.png")(alt="Конвекторы")
      .catalog__link
        span Конвекторы
        .catalog__arrow
          svg.catalog__svg(role="img")(width="40")(height="10"): use(xlink:href="#arrow")
    a(href="category.html").catalog__item
      .catalog__img
        img.catalog__pick(src="assets/convectr.png")(alt="Акссессуары")
      .catalog__link
        span Акссессуары
        .catalog__arrow
          svg.catalog__svg(role="img")(width="40")(height="10"): use(xlink:href="#arrow")
    a(href="category.html").catalog__item
      .catalog__img
        img.catalog__pick(src="assets/acssrs.png")(alt="Акссессуары")
      .catalog__link
        span Акссессуары
        .catalog__arrow
          svg.catalog__svg(role="img")(width="40")(height="10"): use(xlink:href="#arrow")
