ol.pluses__ol
  li.pluses__li Экономично
    p Продукция KALSHNIKOV оптимальна по соотношению цена/срок службы. Ее конструктивные особенности позволяют выдавать высочайшие показатели энергоэффективности и существенно экономить на электричестве и других теплоносителях.
  li.pluses__li Сделано в России
    p ИЗТТ сейчас крупнейший производитель тепловой техники в России и один из крупнейших в мире. Современные станки и сборочные линии, тотальный контроль качества и передовые конструкторские разработки позволяют выпускать продукцию под разными брендами для многих российских и зарубежных компаний. Самые лучшие разработки завода находят воплощение в продукции под торговой маркой KALASHNIKOV.
  li.pluses__li Просто
    p С любым сложным прибором пользователю должно быть легко обращаться. Простота подбора, монтажа, обслуживания тепловой техники KALASHNIKOV делают работу с ней комфортной как для профессиональных монтажников, так и для пользователей.
  li.pluses__li Современно
    p Инженерам-конструкторам тепловой техники KALASHNIKOV удается соединять необходимый конструктив с эстетикой, удовлетворяя самого изысканного покупателя. Огромные объемы производства ИЗТТ позволяют внедрять самое современное оборудование и технологии бережливого производства.
