.gotocatalog{
  margin: 40px 0;
  @media(min-width:$notebook){
    width:33%;
    width: calc(33% - 30px);
    margin: 0 15px;
  }
  &__pick{
    height: 250px;
    width: 290px;
    background: $inactiveBg;
    display: flex;
    align-items:center;
    justify-content: center;
    @media(min-width:$tablet){
      height: 290px;
      width: 340px;
    }
    @media(min-width:$notebook){
      height: 250px;
    }
  }
  &__link{
    margin-top: 14px;
    display: block;
    text-decoration: none;
    color: $inactiveBtn;
    font: $pointer;
    &:hover{
      .gotocatalog__arrow{
        &:before{
          transform: scaleX(1.5) translateX(10px);
        }
      }
      .gotocatalog__svg{
        transform: translateX(18px);
      }
    }
    @media(min-width:$notebook){
      margin-top: 30px;
    }
  }
  &__arrow{
    position: relative;
    margin-left: 10px;
    &:before{
      position: absolute;
      width: 20px;
      height: 2px;
      background: $inactiveBtn;
      content: '';
      top: 12px;
      transition: transform .3s;
    }
  }
  &__svg{
    position: absolute;
    top: 7px;
    left:10px;
    z-index: 100;
    transition: transform .3s;
  }
}
