a.gotocatalog(href="catalog.html")
  .gotocatalog__pick
    img.gotocatalog__img(alt="Конвектор")(src="assets/teplopushka.png")
  .gotocatalog__link
    span Перейти в каталог
    span.gotocatalog__arrow
      svg.gotocatalog__svg(role="img")(width="20")(height="12"): use(xlink:href="#arrow")
