.category{
  &__items{

  }
  &__item{
    margin: 30px auto;
    @media(min-width:$tablet){
      display: flex;
    }
  }
  &__info{
    background:$inactiveBg;
    padding:  20px;
    @media(min-width:$tablet){
      padding-right: 78px;
      box-sizing: border-box;
      width:50%;
      width: calc(50% + 30px);
    }
  }
  &__params{

  }
  &__link{
    text-decoration: none;
  }
  &__title{
    color: $inactiveBtn;
    font: $pluses;
    margin: 0 0 20px 0;
  }
  &__param{
    display: flex;
    padding: 0;
    width: 100%;
    margin: 20px 10px;
    margin-left:0;
    align-items: center;
    @media(min-width:$tablet){
      position: relative;
    }
  }
  &__svg{
    width: 40px;
    margin-right: 10px;
    flex-shrink: 0;
  }
  &__text{
    width: 90%;
    width: calc(100% - 50px);
    cursor: pointer;
  }
  &__pick{
    height:0;
    padding-top:69%;
    position: relative;
    @media(min-width:$tablet){
      padding-top:0;
      height: auto;
      width:50%;
      width: calc(50% - 30px)
    }
  }
  &__img{
    position: absolute;
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  &__arrow{
    position: absolute;
    bottom:0;
    right: 0;
    width: 60px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 15px;
    background: $activeBtn;
    display: block;
    text-decoration: none;
    transition: background .3s;
    &:hover{
      &:before{
        transform: translateX(5px) scaleX(1.5);
      }
      .category__arrowsvg{
        transform: translateX(7px);
      }
      background:$hoverBtn;
    }
    &:before{
      content: "";
      width: 20px;
      height: 2px;
      background: $hoverSvg;
      position: absolute;
      top:20px;
      right: 20px;
      transition: transform .3s;
    }
  }
  &__arrowsvg{
    color:$hoverSvg;
    fill:$hoverSvg;
    transition: transform .3s;
    position: absolute;
    top:16px;
    right: 5px;
    z-index: 100;
  }
  &__question{
    display: none;
    @media(min-width:$tablet){
      display: block;
      position:absolute;
      right: -58px;
      top: 0;
      width: 18px;
      height: 18px;
      padding: 1px;
      transition: background;
      box-sizing: border-box;
      background: $hoverSvg;
      svg{
        color: $inactiveSvg;
        fill: $inactiveSvg;
        transition: fill .3s, color .3s;
      }
    }
  }
  .questionOpen{
    .category__svg{
      display: none;
    }
    .category__text{
      font: $category;
    }
    .category__question{
      background: $activeBtn;
      svg{
        fill: $hoverSvg;
        color: $hoverSvg;
      }
    }
  }
}
