.category{
  &__item{
    margin: 30px auto;
    @media(min-width:$tablet){
      display: flex;
    }
  }
  &__info{
    background:$inactiveBg;
    padding:  20px;
    @media(min-width:$tablet){
      padding-right: 78px;
      box-sizing: border-box;
      width:50%;
      width: calc(50% + 30px);
      padding: 30px;
      padding-bottom: 50px;
    }
    @media(min-width:$notebook){
      padding: 40px 30px 30px 40px;
      width: 42%;
    }
  }
  &__link{
    text-decoration: none;
  }
  &__title{
    color: $inactiveBtn;
    font: $pluses;
    margin: 0 0 20px 0;
  }
  &__param{
    display: flex;
    padding: 0;
    width: 100%;
    margin: 20px 10px 0 0;
    align-items: center;
    cursor: auto;
    @media(min-width:$tablet){
      position: relative;
      margin: 10px 10px 0 0;
    }
    @media(min-width:$notebook){
      margin: 10px 0;
    }
    &-question{
      cursor: pointer;
      &:hover{
        .category__question{
          background: #000000;
          fill:$hoverSvg;
          color: $hoverSvg;
        }
      }
    }
  }
  &__spoiltext{
    position:absolute;
    opacity: 0;
    transition: opacity .3s;
    background: #fff;
    left: -20px;
    top: 0;
    width: 100%;
    padding: 17px 40px 30px 15px;
    z-index: 99;
    box-sizing: border-box;
    font: $category;
    line-height: 17px;
    &.open{
      @media(min-width:$tablet){
        opacity: 1;
      }
    }
    .close{
      position: absolute;
      right: 20px;
      top: 10px;
      z-index: 100;
      width: 20px;
      height: 20px;
      &:after, &:before{
        content: "";
        width: 2px;
        height: 14px;
        background: $inactiveSvg;
        display:block;
        position: absolute;
        right: 0;
        top: 0;
        transition: height .3s;
        &:hover{
          height: 17px;
        }
      }
      &:after{
        transform: rotate(45deg);
      }
      &:before{
        transform: rotate(-50deg);
      }
    }
    h4{
      margin-bottom: 13px;
      font: $tabletd;
    }
  }
  &__svg{
    width: 40px;
    margin-right: 10px;
    flex-shrink: 0;
  }
  &__text{
    width: 100%;
  }
  &__pick{
    height:0;
    padding-top:69%;
    position: relative;
    display: block;
    @media(min-width:$tablet){
      padding-top:0;
      height: auto;
      width:50%;
      width: calc(50% - 30px)
    }
    @media(min-width:$notebook){
      width: calc(58%)
    }
    &:hover, &:focus{
      .category__arrow{
        background:$hoverBtn;
        &:before{
          transform: translateX(5px) scaleX(1.5);
        }
      }
      .category__arrowsvg{
        transform: translateX(7px);
      }
      .category__descript{
        color: $inactiveTxt;
      }
    }
  }
  &__img{
    position: absolute;
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    top:0;
    left:0;
    right:0;
    bottom:0;
    &-noimg{
      background-size: contain;
      background-image: url('images/noimg.svg');
      background-color: #F6F7FA;
    }
  }
  &__arrow{
    position: absolute;
    bottom:0;
    right: 0;
    width: 60px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 15px;
    background: $activeBtn;
    display: block;
    text-decoration: none;
    transition: background .3s;
    &:before{
      content: "";
      width: 20px;
      height: 2px;
      background: $hoverSvg;
      position: absolute;
      top:20px;
      right: 20px;
      transition: transform .3s;
    }
  }
  &__arrowsvg{
    color:$hoverSvg;
    fill:$hoverSvg;
    transition: transform .3s;
    position: absolute;
    top:16px;
    right: 5px;
    z-index: 100;
  }
  &__question{
    display: none;
    @media(min-width:$tablet){
      display: block;
      position:absolute;
      right: 0;
      bottom: 11px;
      transition: background;
      box-sizing: border-box;
      background: $hoverSvg;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      svg{
        color: $inactiveSvg;
        fill: $inactiveSvg;
        transition: fill .3s, color .3s;
        width: 13px;
        height: 13px;
      }
    }
  }
  &__descript{
    font: $pointer;
    max-width: 370px;
    margin: 33px 46px;
    line-height: 23px
  }
}
