.category
  .category__items
    .category__item
      .category__info
        a.category__link(href="product.html")
          h3.category__title KVC-А
        .category__params
          figure.category__param.category__param-question
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#height")
            figcaption
              .category__text Высота установки до 2 ,5 м
              .category__spoiltext
                h4 Гарантия 3 года
                | Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.
            .category__question
              svg(role="img")(width="15")(height="15"): use(xlink:href="#question")
          figure.category__param.category__param-question
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#installation")
            figcaption
              .category__text Монтаж горизонтальный и вертикальный
              .category__spoiltext Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.
            .category__question
              svg(role="img")(width="15")(height="15"): use(xlink:href="#question")
          figure.category__param.category__param-question
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#ip")
            figcaption
              .category__text Класс исполнения IP21
              .category__spoiltext Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.
            .category__question
              svg(role="img")(width="15")(height="15"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#warranty")
            figcaption
              .category__text Гарантия 3 года
      a.category__pick(href="product.html")
        .category__img.category__img-noimg(style="background-image: url('images/noimg.svg')")
          .category__descript Подойдут для банков и административных зданий, офисных и бизнес-центров, отелей и ресторанов
          .category__arrow
            svg.category__arrowsvg(role="img")(width="30")(height="10"): use(xlink:href="#arrow")
