.category
  .category__items
    article.category__item
      .category__info
        a.category__link(href="product.html")
          h3.category__title KVC-А
        .category__params
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#height")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Высота установки до 2 ,5 м
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#installation")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Монтаж горизонтальный и вертикальный
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#ip")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Класс исполнения IP21
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#warranty")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Гарантия 3 года
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
      .category__pick
        .category__img(style="background-image: url('assets/cat.png')")
          a.category__link(href="product.html").category__arrow
            svg.category__arrowsvg(role="img")(width="30")(height="10"): use(xlink:href="#bigarrow")
    article.category__item
      .category__info
        a.category__link(href="product.html")
          h3.category__title KVC-B
        .category__params
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#height")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Высота установки до 2 ,5 м
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#installation")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Монтаж горизонтальный и вертикальный
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#ip")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Класс исполнения IP21
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#warranty")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Гарантия 3 года
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
      .category__pick
        .category__img(style="background-image: url('assets/cat.png')")
          a(href="product.html").category__arrow
            svg.category__arrowsvg(role="img")(width="30")(height="10"): use(xlink:href="#bigarrow")
    article.category__item
      .category__info
        a.category__link(href="product.html")
          h3.category__title KVC-C
        .category__params
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#height")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Высота установки до 2 ,5 м
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#installation")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Монтаж горизонтальный и вертикальный
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#ip")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Класс исполнения IP21
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#warranty")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Гарантия 3 года
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
      .category__pick
        .category__img(style="background-image: url('assets/cat.png')")
          a(href="product.html").category__arrow
            svg.category__arrowsvg(role="img")(width="30")(height="10"): use(xlink:href="#bigarrow")
    article.category__item
      .category__info
        a.category__link(href="product.html")
          h3.category__title KVC-D
        .category__params
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#height")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Высота установки до 2 ,5 м
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#installation")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Монтаж горизонтальный и вертикальный
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#ip")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Класс исполнения IP21
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#warranty")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Гарантия 3 года
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
      .category__pick
        .category__img(style="background-image: url('assets/cat.png')")
          a(href="product.html").category__arrow
            svg.category__arrowsvg(role="img")(width="30")(height="10"): use(xlink:href="#bigarrow")
    article.category__item
      .category__info
        a.category__link(href="product.html")
          h3.category__title KVC-S
        .category__params
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#height")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Высота установки до 2 ,5 м
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#installation")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Монтаж горизонтальный и вертикальный
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#ip")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Класс исполнения IP21
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
          figure.category__param
            svg.category__svg(role="img")(width="40")(height="40"): use(xlink:href="#warranty")
            figurecapture.category__text(data-text="Срок гарантии на установки для кондиционирования воздуха составляет 3 года со дня продажи.") Гарантия 3 года
            .category__question
              svg(role="img")(width="18")(height="18"): use(xlink:href="#question")
      .category__pick
        .category__img(style="background-image: url('assets/cat.png')")
          a(href="product.html").category__arrow
            svg.category__arrowsvg(role="img")(width="30")(height="10"): use(xlink:href="#bigarrow")
