extends _layouts/default
block title
  title Страница не найдена
block header
  include  _layouts/header_inner/header_inner
block content
  section.main__section
    .container
      h1 Страница не найдена
      include modules/404/404
block footer
  include  _layouts/footer/footer
