extends _layouts/default

block title
  title О компании
block header
  include  _layouts/header_inner/header_inner
block content
  section.main__section
    .container
      h1  О компании
      +mainabout(layout="mainabout-inner", inner)
      include modules/qualityblock/qualityblock
    include modules/about/about
    include modules/examples/examples
    include modules/form/form
block footer
  include  _layouts/footer/footer
