extends _layouts/default
block title
  title Контакты
block header
  include  _layouts/header_inner/header_inner
block content
  section.main__section
    .container
      h1  Контакты
block footer
  include  _layouts/footer/footer
