extends _layouts/default
block title
  title Контакты
block header
  include  _layouts/header_inner/header_inner
block content
  section.main__section
    .container
      .wrapper-flex
        .col
          h1  Контакты
          include modules/contacts/contacts
          include modules/social/social
        .col
          include modules/contactmap/contactmap
    include modules/contactbanner/contactbanner
    include modules/contactsservice/contactsservice
    include modules/form/form
block footer
  include  _layouts/footer/footer
