extends _layouts/default

block title
  title Тепловая завеса KVC-D10E9-31/32
block header
  include  _layouts/header_inner/header_inner
block content
  section.main__section
    .container
      .detail__header
        include modules/breadcrumbs/breadcrumbs
        h1 Тепловая завеса KVC-D10E9-31/32
    include modules/sliderdetail/sliderdetail
    .container
      include modules/tabs/tabs
      include modules/aftertabs/aftertabs
    include modules/detail/detail
    .container
      include modules/accessories/accessories
      include modules/dealerblock/dealerblock
block footer
  include  _layouts/footer/footer
