extends _layouts/default
include modules/spoiler/spoiler
block title
  title Подбор техники
block header
  include  _layouts/header_inner/header_inner
block content
  .container
    h1 Подбор техники
block footer
  include  _layouts/footer/footer
