extends _layouts/default

block title
  title Тепловая техника Kalashnikov
block header
  include  _layouts/header/header
block content
  section.main__section
    include modules/slider/slider
    include modules/carousel/carousel
    .container
      include modules/mainabout/mainabout
      include modules/mainpluses/mainpluses
    include modules/mainpartners/mainpartners
    include modules/mainnews/mainnews
block footer
  include  _layouts/footer/footer
