extends _layouts/default

block title
  title Тепловая техника Kalashnikov
block header
  include  _layouts/header/header
block content
  include modules/slider/slider
block footer
  include  _layouts/footer/footer
