extends _layouts/default
block title
  title Новости
block header
  include  _layouts/header_inner/header_inner
block content
  section.main__section
    .container
      h1 Новости
      include modules/news/news
      .news__spoiler
        +spoiler("Показать еще")
block footer
  include  _layouts/footer/footer
