extends _layouts/default
block title
  title Партнерам
block header
  include  _layouts/header_inner/header_inner
block content
  section.main__section
    .container
      h1 Партнерам
    include modules/partners/partners
block footer
  include  _layouts/footer/footer
