extends _layouts/default

block title
  title Тепловая техника Kalashnikov
block header
  include  _layouts/header_inner/header_inner
block content
  section.main__section
    h1 Тепловая завеса KVC-D
    #map(style="width:400px; height:300px")
block footer
  include  _layouts/footer/footer
