extends _layouts/default

block title
  title Тепловая техника Kalashnikov
block header
  include  _layouts/header_inner/header_inner
block content
  section.main__section
    .container
      h1 Результаты поиска
      include modules/searchpage/searchpage
block footer
  include  _layouts/footer/footer
