extends _layouts/default
include modules/spoiler/spoiler
block title
  title Сервисные центры
block header
  include  _layouts/header_inner/header_inner
block content
  section.main__section
  .container
    include modules/dealers/dealers
block footer
  include  _layouts/footer/footer
