extends _layouts/default
block title
  title О компании
block header
  include  _layouts/header_inner/header_inner
block content
  section.main__section
    .container
      h1 Магазины и дилеры
      include modules/dealerblock/dealerblock
block footer
  include  _layouts/footer/footer
